In [4]:
'''
69 page

stack : LIFO <- Last input First Output

queue : LILO <- Last input Last Output


'''

print('---Stack---')

numbers = []

numbers.append(1)
print('numbers :', numbers)

numbers.append(2)
print('numbers :', numbers)

numbers.append(3)
print('numbers :', numbers)

numbers.append(4)
print('numbers :', numbers)

numbers.append(5)
print('numbers :', numbers)
              
numbers.pop()
print('numbers :', numbers)

numbers.pop()
print('numbers :', numbers)

numbers.pop()
print('numbers :', numbers)

numbers.pop()
print('numbers :', numbers)

numbers.pop()
print('numbers :', numbers)

---Stack---
numbers : [1, 2, 3, 4, 5]
numbers : [1, 2, 3, 4, 5, 6]
numbers : [1]
numbers : [1, 2]
numbers : [1, 2, 3]
numbers : [1, 2, 3, 4]
numbers : [1, 2, 3, 4, 5]
numbers : [1, 2, 3, 4]
numbers : [1, 2, 3]
numbers : [1, 2]
numbers : [1]
numbers : []

In [5]:
print('---Queue---')

numbers = []

numbers.append(1)
print('numbers :', numbers)

numbers.append(2)
print('numbers :', numbers)

numbers.append(3)
print('numbers :', numbers)

numbers.append(4)
print('numbers :', numbers)

numbers.append(5)
print('numbers :', numbers)
              
numbers.pop(0)
print('numbers :', numbers)

numbers.pop(0)
print('numbers :', numbers)

numbers.pop(0)
print('numbers :', numbers)

numbers.pop(0)
print('numbers :', numbers)

numbers.pop(0)
print('numbers :', numbers)

---Queue---
numbers : [1]
numbers : [1, 2]
numbers : [1, 2, 3]
numbers : [1, 2, 3, 4]
numbers : [1, 2, 3, 4, 5]
numbers : [2, 3, 4, 5]
numbers : [3, 4, 5]
numbers : [4, 5]
numbers : [5]
numbers : []

In [10]:
'''
자료형  <- data를 관리하는 메모리 공간의 크기와 모양 
data type

형변환
    ㄴ 자료형  ->  형
       data type   type
  int / float / bool / str

'''

# int --> float : float() 함수 사용
num1 = 1234
print('num1 :', num1)
print('num1 :', type(num1))

num2 = float(num1)
print('num2 :', num2)
print('num2 :', type(num2))

# float --> int : int() 함수 사용
num3 = 123.456
print('num3 :', num3)
print('num3 :', type(num3))

num4 = int(num3)
print('num4 :', num4)
print('num4 :', type(num4))

num1 : 1234
num1 : <class 'int'>
num2 : 1234.0
num2 : <class 'float'>
num3 : 123.456
num3 : <class 'float'>
num4 : 123
num4 : <class 'int'>

In [17]:
# int --> str : str() 함수 사용
num5 = 1234
print('num5 :', num5)
print('num5 :',type(num5))

result = num5 + 20
print('result :', result)

num6 = str(num5)
print('num6 :', num6)
print('num6 :', type(num6))

# TypeError: can only concatenate str (not "int") to str
# result = num6 + 20
# print('result :', result)

result = num6 + str(20)
print('result :', result)

num5 : 1234
num5 : <class 'int'>
result : 1254
num6 : 1234
num6 : <class 'str'>
result : 123420

In [19]:
# float --> str : str()
num7 = 3.14
print('num7 :', num7)
print('num7 :', type(num7))

result = num7 + 20
print('result :', result)

num8 = str(num7)
print('num8 :', num8)
print('num8 :', type(num8))

result = num8 + str(20)
print('result :', result)

num7 : 3.14
num7 : <class 'float'>
result : 23.14
num8 : 3.14
num8 : <class 'str'>
result : 3.1420

In [20]:
# str --> int : int()
# 숫자모양의 문자열만 int type으로 형변환됨 
num9 = '123456'

print('num9 :', num9)
print('num9 :', type(num9))

num10 = int(num9)

print('num10 :', num10)
print('num10 :', type(num10))

num9 : 123456
num9 : <class 'str'>
num10 : 123456
num10 : <class 'int'>

In [23]:
# str --> float : float()

num11 = '3.141592'

print('num11 :', num11)
print('num11 :', type(num11))

num12 = float(num11)

print('num12 :', num12)
print('num12 :', type(num12))

num11 : 3.141592
num11 : <class 'str'>
num12 : 3.141592
num12 : <class 'float'>

In [25]:
# 정수모양의 문자열 --> float type
num13 = '12345'

print('num13 :', num13)
print('num13 :', type(num13))

num14 = float(num13)

print('num14 :', num14)
print('num14 :', type(num14))

num13 : 12345
num13 : <class 'str'>
num14 : 12345.0
num14 : <class 'float'>

In [27]:
# 실수모양의 문자열 --> int type  변경 불가함
num15 = '123.456'

print('num15 :', num15)
print('num15 :', type(num15))

# ValueError: invalid literal for int() with base 10: '123.456'
# num16 = int(num15)

# print('num16 :', num16)
# print('num16 :', type(num16))

num15 : 123.456
num15 : <class 'str'>

In [29]:
'''
bool type --> int type
'''

print('int(True) :', int(True))
print('int(False) :', int(False))

'''
bool type --> float type
'''

print('float(True) :', float(True))
print('float(False) :', float(False))

int(True) : 1
int(False) : 0
float(True) : 1.0
float(False) : 0.0