In [6]:
phone = '82/010/1111/2345'

'''
split() 메소드를 사용해서
국가번호와 010을 제외한
나머지 8 자리 숫자만 출력하세요
'''
result = phone.split('/')
print(result)

print(result[2] + result[3])

['82', '010', '1111', '2345']
11112345

In [ ]:
movies = ['지구의밤', '라바', '문어선생님', '원더']
print('movies :', movies)

'''
movies 맨 뒤에 '작은 아씨들' 을 추가하세요
'''
movies.append('작은 아씨들')
print('append 사용 : ', movies)

In [ ]:
movies = ['지구의밤', '라바', '문어선생님', '원더']

'''
문어선생님과 원더 사이에 
JFK를 추가하세요
'''

movies.insert(3,'JFK')
print('movies :', movies)


'''
라바와 문어선생님 사이에
트위스트를 추가하세요
'''

movies.insert(movies.index('문어선생님'), '트위스트')
print('movies :', movies)

In [16]:
movies = ['지구의밤', '라바','트위스트', '문어선생님', 'JFK', '원더', '작은 아씨들', '미니언즈' ]


'''
미니언즈를 movies에서 삭제하세요 : remove()
'''

movies.remove('미니언즈')
print('moives :', movies)

'''
작은 아씨들을 moives에서 삭제하세요 : pop()
'''

movies.pop()
print('moives :', movies)

'''
라바를 movies에서 삭제하세요 : pop(index)
'''

movies.pop(movies.index('라바'))
print('moives :', movies)

'''
트위스트를 movies에서 삭제하세요 : del 명령어 사용
'''

del movies[movies.index('트위스트')]
print('moives :', movies)

'''
in 연산자를 사용해서 movies에 지구의 밤이 있는지 확인하세요
'''

print('지구의밤' in movies)

'''
in 연산자를 사용해서 movies에 미션 이 있는지 확인하세요
'''

print('미션' in movies)

moives : ['지구의밤', '라바', '트위스트', '문어선생님', 'JFK', '원더', '작은 아씨들']
moives : ['지구의밤', '라바', '트위스트', '문어선생님', 'JFK', '원더']
moives : ['지구의밤', '트위스트', '문어선생님', 'JFK', '원더']
moives : ['지구의밤', '문어선생님', 'JFK', '원더']
True
False

In [18]:
numbers = [32, 56 ,78 ,10, 3, 5]

print('최대값 :', max(numbers))
print('최소값 :', min(numbers))
print('합  계 :', sum(numbers))
print('평  균 :', round(sum(numbers) / len(numbers)))

최대값 : 78
최소값 : 3
합  계 : 184
평  균 : 31

In [21]:
'''
numpy 모듈의 mean() 함수
'''

numbers = [32, 56 ,78 ,10, 3, 5]


import numpy as np
print(np.mean(numbers))
print(round(np.mean(numbers)))
print(round(np.mean(numbers),2))

30.666666666666668
31
30.67

In [24]:
'''
statistics 모듈의 mean() 함수
'''

import statistics as stat
print(stat.mean(numbers))
print(round(stat.mean(numbers)))
print(round(stat.mean(numbers),2))

30.666666666666668
31
30.67

In [34]:
companies = ['LG전자', '네이버', '아마존', '삼성전자']
print('companies :', companies)

'''
다음과 같이 출력하세요
 ㄴ LG전자 네이버 아마존 삼성전자
'''
str1 = 'LG전자,네이버,아마존,삼성전자'
print(str1.split(','))

print(' '.join(companies))
print('##'.join(companies))
print('@'.join(companies))

companies : ['LG전자', '네이버', '아마존', '삼성전자']
['LG전자', '네이버', '아마존', '삼성전자']
LG전자 네이버 아마존 삼성전자
LG전자##네이버##아마존##삼성전자
LG전자@네이버@아마존@삼성전자

In [30]:
list1 = [1, 2, 3, 4, 5]

'''
리스트 아이템 삭제하기

remove(item)
pop()
pop(index)
del
clear()  <-- 모든 item 을 한꺼번에 삭제함 
'''

print('list1 :', list1)
list1.clear()
print('list1 :', list1)

list1 : [1, 2, 3, 4, 5]
list1 : []