# 파이썬
## 파이썬
### 파이썬
#### 파이썬
##### 파이썬

- 파이썬
  - 프로그래밍
    - 수업
      - 기초
        - 과정

In [ ]:
name = "클라우드"

_name = '클라우드'

# snake case(언더바 사용) : 변수, 함수(메소드)
sudent_name = "홍길동"

# camel case : 클래스 이름 - 첫 글자 대문자
studentName = "홍길동"

In [3]:
number = 10
print('number :', number)
number = 20
print('number :', number)
number = 30
print('number :', number)
number = 40
print('number :', number)

number : 10
number : 20
number : 30
number : 40

In [18]:
number = 10
print('number :', id(number))
number = 20.424
print('number :', id(number))
number = "30"
print('number :', id(number))
number = True
print('number :', id(number))

number : 1474773713424
number : 1474880993200
number : 1474843348656
number : 140709571348688

In [ ]:
# 한 줄 주석

'''
여러 줄 주석
'''

"""
여러 줄 주석
"""

In [10]:
a = 1
b = 1
print(a is b)
print(a == b)
print('id(a) : ', id(a))
print('id(b) : ', id(b))

num1 = 1
num2 = 1.0

# == : 값만 비교 
print(num1 == num2)

# 숫자를 비교할 때는 is 연산자는 권장하지 않음
# is : 값, type, (주소) 을 비교
print(num1 is num2)

print('id(num1) : ', id(num1))
print('id(num2) : ', id(num2))

True
True
id(a) :  1474773713136
id(b) :  1474773713136
True
False
id(num1) :  1474773713136
id(num2) :  1474852737264

In [12]:
# 42Page

no = 10
bunho = no
'''
할당 연산(=) : 주소를 복사함
'''

print(no)
print(bunho)
print(id(no),id(bunho))

10
10
1474773713424 1474773713424

In [15]:
'''
할당 연산 방향 : 오른쪽에서 왼쪽으로 이루어짐(<-)
'''

a = b = c = 1

c = 1
b = c
a = b
print('a : ', a)
print('b : ', b)
print('c : ', c)

print(id(a))
print(id(b))
print(id(c))

'''
변수는 한 번에 1개의 값만 연결됨
'''

a :  1
b :  1
c :  1
1474773713136
1474773713136
1474773713136

In [2]:
# 43 page

num1, num2, num3 = 10, 20, 30

print(num1)
print(num2)
print(num3)

# tuple : ()를 생략할 수 있음
# packing
numbers = 10, 20, 30
# unpacking
numbers = (10, 20, 30)
print(numbers)

10
20
30
(10, 20, 30)
(10, 20, 30)

In [21]:
import keyword
# 이미 파이썬에서 사용하고 있는 예약어
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [27]:
# 44page
# 큰따옴표 작은따옴표 동일하게 문자열 노출됨  
str1 = "AWS 클라우드 스쿨"
print(str1)

str1 = 'AWS 클라우드 스쿨'
print(str1)

print('-' * 60)

# 줄바꿈 : \n
str1 = 'AWS \n클라우드 \n스쿨'
print(str1)

str1 = """
AWS 
클라우드 
스쿨
"""
print(str1)

AWS 클라우드 스쿨
AWS 클라우드 스쿨
------------------------------------------------------------
AWS
클라우드
스쿨

AWS
클라우드
스쿨

In [28]:
str1 = "AWS 클라우드 스쿨 2기 과정입니다"
print(str1)
str1 = "AWS 클라우드 스쿨 '2기' 과정입니다"
print(str1)
str1 = "AWS 클라우드 스쿨 \"2기\" 과정입니다"
print(str1)

AWS 클라우드 스쿨 2기 과정입니다
AWS 클라우드 스쿨 '2기' 과정입니다
AWS 클라우드 스쿨 "2기" 과정입니다

In [33]:
name = '클라우드'
age = 25

# print 에 sep = ' ' 디폴트라 콤마(,) 사용 시 자동으로 공백이 들어감 
print('이름 : ', name, ', 나이 :', age, sep=' ')
print('이름 : ', name, ', 나이 :', age)
print('이름 : ', name, ', 나이 :', age, sep='')
print('이름 : ', name, ', 나이 :', age, sep='#')
print('이름 : ', name, ', 나이 :', age, sep='@')

print('이름 : ' + name + ', 나이 :' + str(age))

이름 :  클라우드 , 나이 : 25
이름 :  클라우드 , 나이 : 25
이름 : 클라우드, 나이 :25
이름 : #클라우드#, 나이 :#25
이름 : @클라우드@, 나이 :@25
이름 : 클라우드, 나이 :25

In [34]:
# 45 page
'''
format() : 내장함수 - built-in function

형식
format(숫자(정수, 실수), '형식')
'''

number = 123.456
print(number)

'''
10.3f : 10 - 소수점 포함 전체 출력 자릿수
        .3 - 소수점 이하 자릿수
        f - float(실수)
'''
print(format(number, '10.3f'))
print(format(number, '10.2f'))
print(format(number, '10.4f'))

123.456
   123.456
    123.46
  123.4560

In [35]:
number = 12345
print(format(number, '10'))

     12345

In [36]:
print(format(123.45678, '.1E'))

1.2E+02

In [38]:
# 46 page

name = '이순신'
age = 46


print('이름: 이순신, 나이: 46세')
print('이름: ', name, ', 나이: ', age, '세')

'''
%-formatting
'''
print('이름: %s, 나이: %d 세' %(name,age))

이름: 이순신, 나이: 46세
이름:  이순신 , 나이:  46 세
이름: 이순신, 나이: 46 세

In [40]:
'''
2) str.format() 메소드
    ㄴ str(문자열) 타입(클래스)의 메소드
        (type - class - object(instance))
'''
str1 = "클라우드"
print('str1 :',str1)
print('str1 :',type(str1))

str1 : 클라우드
str1 : <class 'str'>

In [42]:
name = '이순신'
age = 46
print('이름: %s, 나이: %d 세' %(name,age))
print('이름: {}, 나이: {} 세'.format(name,age))

이름: 이순신, 나이: 46 세
이름: 이순신, 나이: 46 세

In [44]:
print('이름: {}, 나이: {} 세'.format(name,age))
print('이름: {0}, 나이: {1} 세'.format(name,age))
print('나이: {1} 세, 이름: {0}'.format(name,age))

이름: 이순신, 나이: 46 세
이름: 이순신, 나이: 46 세
나이: 46 세, 이름: 이순신

In [45]:
'''
f-string
'''
name = '이순신'
age = 46
print('이름: %s, 나이: %d 세' %(name,age))
print('이름: {}, 나이: {} 세'.format(name,age))
print(f'이름: {name}, 나이: {age} 세')

이름: 이순신, 나이: 46 세
이름: 이순신, 나이: 46 세
이름: 이순신, 나이: 46 세

In [47]:
# 48 page
'''
Input() 함수

형식
변수 = input('문자열')

  1) 입력한 문자열이 그대로 출력됨
  2) 사용자가 값을 입력함
  3) (enter 하면) 입력한 값이 변수에 할당됨
  
  ************************************
  input() 함수를 통해서 입력 받은 값은 모두 str type(문자열)으로 인식함
  ************************************
'''
number = input('숫자를 입력하세요 : ')
print('number : ', number)

숫자를 입력하세요 : 100
number :  100

In [3]:
num1 = input('첫 번째 숫자를 입력하세요 : ')
num2 = input('두 번째 숫자를 입력하세요 : ')
result = num1 + num2
print('result :', result)

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
result : 1020

In [49]:
num1 = input('첫 번째 숫자를 입력하세요 : ')
num2 = input('두 번째 숫자를 입력하세요 : ')
result = int(num1) + int(num2)
print('result :', result)

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
result : 30

In [50]:
num1 = int(input('첫 번째 숫자를 입력하세요 : '))
num2 = int(input('두 번째 숫자를 입력하세요 : '))
result = int(num1) + int(num2)
print('result :', result)

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
result : 30