In [1]:
'''
= : 할당연산자 : assignment
                 저장
'''
number1 = 10
number2 = 20
result = number1 + number2
print('result :',result)

result : 30

In [2]:
name = "클라우드"

_name = '클라우드'

# snake case : 변수, 함수(메소드)

student_name = "홍길동"


# camel case  : 클래스 이름 - 첫 글자 대문자

studentName = "홍길동"

# 클래스 이름 
# Student
# Person

In [3]:
number = 10
print('number :',number)
number = 20
print('number :',number)
number = 30
print('number :',number)
number = 40
print('number :',number)

number : 10
number : 20
number : 30
number : 40

In [4]:
number = 10
print('number :',number)
print('number :',id(number))
number = 20.123
print('number :',number)
print('number :',id(number))
number = "30"
print('number :',number)
print('number :',id(number))
number = True
print('number :',number)
print('number :',id(number))

number : 10
number : 1324247286288
number : 20.123
number : 1324325664432
number : 30
number : 1324316020272
number : True
number : 140709571348688

In [5]:
# 한 줄 주석
'''
여러 줄
주석
입니다
'''
"""
여러 줄
주석
입니다
"""

'\n여러 줄\n주석\n입니다\n'

In [6]:
# 41 page

a = 1
b = 1

'''
숫자를 비교할 때는 is 연산자는 권장하지 않음
'''
print(a is b)
print(a == b)

print('id(a) :',id(a))
print('id(b) :',id(b))

True
True
id(a) : 1324247286000
id(b) : 1324247286000

In [7]:
num1 = 1
num2 = 1.0


# == : 값만 비교
print(num1 == num2)


'''
숫자를 비교할 때는 is 연산자는 권장하지 않음
'''
# is : 값, type, (주소) 을 비교
print(num1 is num2)

True
False

In [8]:
# 42page

'''
할당연산(=) : 주소를 복사함
'''
no = 10
bunho = no

print(no)
print(bunho)
print(id(no))
print(id(bunho))

10
10
1324247286288
1324247286288

In [9]:
'''
할당연산 방향 : 오른쪽에서 왼쪽으로 이루어짐 ( <- )
'''
a = b = c = 1

c = 1
b = c
a = b

print(a)
print(b)
print(c)

print(id(a))
print(id(b))
print(id(c))


number1 = 10
number2 = 20

'''
변수는 한 번에 값 하나와만 연결됨
'''
result = number1 + number2

1
1
1
1324247286000
1324247286000
1324247286000

In [27]:
# 43 page

num1, num2, num3 = (10, 20, 30)
num1, num2, num3 = 10, 20, 30

print(num1)
print(num2)
print(num3)

# tuple : () 를 생략할 수 있음
numbers = 10, 20, 30
numbers = (10, 20, 30)
numbers = (10, 20, 30, 40)
print(numbers)

10
20
30
(10, 20, 30, 40)

In [11]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
# 44 page
str1 = "AWS 클라우드 스쿨"
print(str1)

str1 = 'AWS 클라우드 스쿨'
print(str1)
print('-'*  60)

# \n : 줄바꿈문자
str1 = "AWS \n클라우드 \n스쿨"
print(str1)
print('-'*  60)

str1="""AWS 
클라우드 
스쿨"""
print(str1)
print('-'*  60)

str1='''AWS 
클라우드 
스쿨'''
print(str1)

AWS 클라우드 스쿨
AWS 클라우드 스쿨
------------------------------------------------------------
AWS
클라우드
스쿨
------------------------------------------------------------
AWS
클라우드
스쿨
------------------------------------------------------------
AWS
클라우드
스쿨

In [13]:
str1 = "AWS 클라우드 스쿨 2 기 과정입니다"
print(str1)
str1 = "AWS 클라우드 스쿨 '2 기' 과정입니다"
print(str1)
str1 = "AWS 클라우드 스쿨 \"2 기\" 과정입니다"
print(str1)
str1 = 'AWS 클라우드 스쿨 "2 기" 과정입니다'
print(str1)
str1 = 'AWS 클라우드 스쿨 \'2 기\' 과정입니다'
print(str1)
str1 = "AWS 클라우드 스쿨 '2 기' 과정입니다"
print(str1)

AWS 클라우드 스쿨 2 기 과정입니다
AWS 클라우드 스쿨 '2 기' 과정입니다
AWS 클라우드 스쿨 "2 기" 과정입니다
AWS 클라우드 스쿨 "2 기" 과정입니다
AWS 클라우드 스쿨 '2 기' 과정입니다
AWS 클라우드 스쿨 '2 기' 과정입니다

In [14]:
name = '클라우드'
age = 25

print('이름 :',name,', 나이 :',age,sep=' ')
print('이름 :',name,', 나이 :',age)
print('이름 :',name,', 나이 :',age,sep='')
print('이름 :',name,', 나이 :',age,sep='#')
print('이름 :',name,', 나이 :',age,sep='@')

# TypeError: can only concatenate str (not "int") to str
# print('이름 :' + name + ', 나이 :' + age)
print('이름 :' + name + ', 나이 :' + str(age))
print('이름 : ' + name + ', 나이 : ' + str(age))

이름 : 클라우드 , 나이 : 25
이름 : 클라우드 , 나이 : 25
이름 :클라우드, 나이 :25
이름 :#클라우드#, 나이 :#25
이름 :@클라우드@, 나이 :@25
이름 :클라우드, 나이 :25
이름 : 클라우드, 나이 : 25

In [15]:
# 45 page
'''
foramt()  :  내장함수 - built-in function

형식]
format(숫자(정수, 실수), '형식')
'''

number = 123.457
print(number)

'''
10.3f : 10 - 소숫점 포함 전체 출력 자릿수
        .3 - 소숫점 이하 자릿수
         f -  float(실수)
'''
print(format(number, '10.3f'))
print(format(number, '10.2f'))
print(format(number, '10.4f'))

123.457
   123.457
    123.46
  123.4570

In [16]:
number = 12345
print(format(number, '10'))

     12345

In [17]:
print(format(123.45678, '.1E'))

1.2E+02

In [18]:
# 46 page

name = '이순신'
age = 46

print('이름 : 이순신, 나이 : 46세')
print('이름 :',name,', 나이 :',age,'세')

'''
1) %-formatting
'''
print('이름 : %s, 나이 :  %d 세' % (name, age))

이름 : 이순신, 나이 : 46세
이름 : 이순신 , 나이 : 46 세
이름 : 이순신, 나이 :  46 세

In [19]:
'''
2) str.format() 메소드
    ㄴ str(문자열) 타입(클래스)의 메소드
       (type - class - object(instance))
'''
str1 = "클라우드"
print('str1 :',str1)
print('str1 :',type(str1))

str1 : 클라우드
str1 : <class 'str'>

In [20]:
name = '이순신'
age = 46
print('이름 : %s, 나이 :  %d 세' % (name, age))
print('이름 : {}, 나이 :  {} 세'.format(name, age))

이름 : 이순신, 나이 :  46 세
이름 : 이순신, 나이 :  46 세

In [21]:
print('이름 : {}, 나이 :  {} 세'.format(name, age))
print('이름 : {0}, 나이 :  {1} 세'.format(name, age))
print('나이 : {} 세, 이름 : {}'.format(name, age))
print('나이 : {1} 세, 이름 : {0}'.format(name, age))

이름 : 이순신, 나이 :  46 세
이름 : 이순신, 나이 :  46 세
나이 : 이순신 세, 이름 : 46
나이 : 46 세, 이름 : 이순신

In [22]:
'''
3) f-string
'''
name = '이순신'
age = 46
print('이름 : %s, 나이 :  %d 세' % (name, age))
print('이름 : {}, 나이 :  {} 세'.format(name, age))
print(f'이름 : {name}, 나이 :  {age} 세')

이름 : 이순신, 나이 :  46 세
이름 : 이순신, 나이 :  46 세
이름 : 이순신, 나이 :  46 세

In [23]:
# 48 page
'''
input() 함수

형식]

변수 = input('문자열')
  
  1) 입력한 문자열이 그대로 출력됨
  2) 사용자가 값을 입력함
  3) (enter 하면) 입력한 값이 변수에 할당됨
  
  *************************************
   input() 함수를 통해서 입력박은 값은 
   모두 str type (문자열) 으로 인식함
  *************************************
'''
number = input('숫자를 입력하세요 : ')
print('number :',number)

숫자를 입력하세요 : 10
number : 10

In [24]:
num1 = input('첫 번째 숫자를 입력하세요 : ')
num2 = input('두 번째 숫자를 입력하세요 : ')
result = num1 + num2
print('result :',result)

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
result : 1020

In [25]:
num1 = input('첫 번째 숫자를 입력하세요 : ')
num2 = input('두 번째 숫자를 입력하세요 : ')
result = int(num1) + int(num2)
print('result :',result)

첫 번째 숫자를 입력하세요 : 20
두 번째 숫자를 입력하세요 : 30
result : 50

In [26]:
num1 = int(input('첫 번째 숫자를 입력하세요 : '))
num2 = int(input('두 번째 숫자를 입력하세요 : '))
result = num1 + num2
print('result :',result)

첫 번째 숫자를 입력하세요 : 5
두 번째 숫자를 입력하세요 : 6
result : 11