In [1]:
'''
tuple 자료형 
- list와 비슷함
- immutable type <-- 원본을 변형하지 못함
- item의 추가, 삭제를 못함(cf. list는 mutable type)
- () 사용
- () 생략 가능
- index가 있음
- 비어있는 tuple을 생성할 수 있음
    ㄴ () / tuple()
- item을 하나만 저장하는 경우에는 , 를 붙여줌
- tuple 안에 tuple을 저장할 수 있음

'''
tp1 = ()
tp2 = tuple()
print('tp1 :', tp1)
print('tp1 :', type(tp1))

print('tp2 :', tp2)
print('tp2 :', type(tp2))

tp3 = 1, 2, 3, 4, 5
print('tp3 :', tp3)
print('tp3 :', type(tp3))

tp1 : ()
tp1 : <class 'tuple'>
tp2 : ()
tp2 : <class 'tuple'>
tp3 : (1, 2, 3, 4, 5)
tp3 : <class 'tuple'>

In [2]:
tp4 = (10)
print('tp4 :', tp4)
print('tp4 :', type(tp4))

tp4 = (10,)
print('tp4 :', tp4)
print('tp4 :', type(tp4))

tp4 = 10,
print('tp4 :', tp4)
print('tp4 :', type(tp4))

tp4 : 10
tp4 : <class 'int'>
tp4 : (10,)
tp4 : <class 'tuple'>
tp4 : (10,)
tp4 : <class 'tuple'>

In [3]:
tp5 = '클라우드'
print('tp5 :', tp5)
print('tp5 :', type(tp5))

tp5 = '클라우드',
print('tp5 :', tp5)
print('tp5 :', type(tp5))

tp5 = 3.141592,
print('tp5 :', tp5)
print('tp5 :', type(tp5))

tp5 = True,
print('tp5 :', tp5)
print('tp5 :', type(tp5))

tp5 : 클라우드
tp5 : <class 'str'>
tp5 : ('클라우드',)
tp5 : <class 'tuple'>
tp5 : (3.141592,)
tp5 : <class 'tuple'>
tp5 : (True,)
tp5 : <class 'tuple'>

In [4]:
tp6 = 1, 2, 3, 'python', 'cloud', True, 6.25
print('tp6 :', tp6)
print('tp6 :', type(tp6))

print('tp6[4] :', tp6[4])

# TypeError: 'tuple' object does not support item assignment
# tuple은 immutable type 이라서 item을 바꿀 수 없음
# tp6[4] = 'programming'

tp6 : (1, 2, 3, 'python', 'cloud', True, 6.25)
tp6 : <class 'tuple'>
tp6[4] : cloud

In [5]:
tp6 = 1, 2, 3, ('python', 'cloud',('best', 'programming')), True, 6.25
print('tp6 :', tp6)
print('tp6 :', type(tp6))
print('tp6[3][2][1] :', tp6[3][2][1])

tp6 : (1, 2, 3, ('python', 'cloud', ('best', 'programming')), True, 6.25)
tp6 : <class 'tuple'>
tp6[3][2][1] : programming

In [6]:
'''
tuple --> list : list()
list --> tuple : tuple()
'''

tp7 = (1, 2, 3, 4, 5)
print('tp7 :', type(tp7))

list1 = list(tp7)
print('list1 :', type(list1))

tp8 = tuple(list1)
print('tp8 :', type(tp8))

tp7 : <class 'tuple'>
list1 : <class 'list'>
tp8 : <class 'tuple'>

In [7]:
tp9 = (1, 2, 3, 4, 5)
print('tp9 :', tp9)

'''
unpacking
'''
n1, n2, n3, n4, n5 = (1, 2, 3, 4, 5)
print(n1, n2, n3, n4, n5)
print(n1)
print(n2)
print(n3)
print(n4)
print(n5)

tp9 : (1, 2, 3, 4, 5)
1 2 3 4 5
1
2
3
4
5

In [8]:
list2 = [1, 2, 3, 4, 5]
print('list2 :', list2)

'''
unpacking
'''
num1, num2, num3, num4, num5 = list2
num1, num2, num3, num4, num5 = [1, 2, 3, 4, 5]
print(num1)
print(num2)
print(num3)
print(num4)
print(num5)

list2 : [1, 2, 3, 4, 5]
1
2
3
4
5

In [9]:
# unpacking
'''
*num4 변수에는 4와 5를 item으로 하는 리스트가 할당됨
'''
num1, num2, num3, *num4 = 1, 2, 3, 4, 5
print(num1)
print(num2)
print(num3)
print(num4)

1
2
3
[4, 5]

In [10]:
*num1, num2, num3,num4 = 1, 2, 3, 4, 5
print(num1)
print(num2)
print(num3)
print(num4)

[1, 2]
3
4
5

In [11]:
num1, *num2, num3,num4 = 1, 2, 3, 4, 5
print(num1)
print(num2)
print(num3)
print(num4)

1
[2, 3]
4
5

In [12]:
'''
range() 함수

range(stop)               : 0부터 stop -1 까지
range(start, stop)        : start 부터 stop - 1 까지
range(start, stop, step)  : start 부터 stop - 1 까지 step - 1 만큼 건너뜀
'''

# range(stop)
print(range(10))
print(list(range(10)))
print(tuple(range(10)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [14]:
# range(start, stop)
# 1부터 20까지 지정하기

print(list(range(1, 21)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [16]:
'''
numbers = '123456789'
print(numbers[::2])   <-- 홀수만
print(numbers[1::2])   <-- 짝수만

'''

# range(start, stop, step)
print(list(range(1,11)))

# 홀수만
print(list(range(1,11,2)))

# 짝수만
print(list(range(2,12,2)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [17]:
number1 = 10
number2 = 20
print('number1 :', number1)
print('number2 :', number2)

# unpacking
number1, number2 = number2, number1
print('number1 :', number1)
print('number2 :', number2)

number1 : 10
number2 : 20
number1 : 20
number2 : 10

In [18]:
number1 = 10
number2 = 20
print('number1 :', number1)
print('number2 :', number2)

# 변수값 교환하기 : swiping
cup = number1
number1 = number2
number2 = cup

print('number1 :', number1)
print('number2 :', number2)

number1 : 10
number2 : 20
number1 : 20
number2 : 10