In [4]:
'''
set 자료형 :비어있는 set을 생성할 수 있음  
{} 사용      {} 가능하지 않음 / set() 으로만 사용 가능


            index를 사용하지 않음
                ㄴ item의 중복을 허용하지 않음
                ㄴ item이 저장되는 순서가 일정하지 않음
                (cf. list/tuple은 item의 중복을 허용함)
                set  <-- mutable type : list(mutable) / tuple(immutable)
                set 자료형에 저장되는 item은 immutable type 만 저장할 수 있음
                
'''

set1 = set()
print('set1 :', set1)
print('set1 :', type(set1))

# {} 형태로 메모리에 올리면 dictionary 로 인식함
set2 = {}
print('set2 :', set2)
print('set2 :', type(set2))

set3 = {1, 2, 3, 4, 5}
print('set3 :', set3)
print('set3 :', type(set3))

set1 : set()
set1 : <class 'set'>
set2 : {}
set2 : <class 'dict'>
set3 : {1, 2, 3, 4, 5}
set3 : <class 'set'>
set4 : {1, 2, 3, 4, 5}
set4 : <class 'set'>

In [5]:
set4 = set([1,2,3,4,5])
print('set4 :', set4)
print('set4 :', type(set4))

set4 = set((1,2,3,4,5))
print('set4 :', set4)
print('set4 :', type(set4))

set4 : {1, 2, 3, 4, 5}
set4 : <class 'set'>
set4 : {1, 2, 3, 4, 5}
set4 : <class 'set'>

In [7]:
set5 = {'a', 'b', 'c', 'd', 'e'}
print('set5 :', set5)

set5 : {'c', 'd', 'b', 'a', 'e'}

In [9]:
set6 = {1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 6, 6, 7, 7, 7}
print('set6 :', set6)

set6 : {1, 2, 3, 4, 5, 6, 7}

In [10]:
list1 = [1, 2, 3, 4, 5, 6, 1, 2, 3, 4]
print(list1)
set7 = set(list1)
print(set7)
list2 = list(set7)
print(list2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4]
{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6]

In [11]:
set8 = {1, 2, 3, 'a', 'b', True, 3.14}
print('set8 :', set8)
print('set8 :', type(set8))

set8 : {1, 2, 3.14, 3, 'b', 'a'}
set8 : <class 'set'>

In [12]:
set9 = {True, True, False, False}
print('set9 :', set9)
print('set9 :', type(set9))

set9 : {False, True}
set9 : <class 'set'>

In [13]:
set10 = {1, 2, 3, True, True, False, False}
print('set10 :', set10)
print('set10 :', type(set10))

set10 : {False, 1, 2, 3}
set10 : <class 'set'>

In [14]:
set11 = {1, 2, 3, 0, True, True, False, False}
print('set11 :', set11)
print('set11 :', type(set11))

set11 : {0, 1, 2, 3}
set11 : <class 'set'>

In [22]:
'''
list 에 list, tuple, set, dictionary 모두 저장할 수 있음
'''
list1 = [[1, 2], (3, 4), {1, 2, 3}, {}]
print(list1)

'''
set 에 item 으로 tuple 저장하기(O)
'''

set12 = {1, 2, 3, 'a', 'b', (1, 2, 3)}
print(set12)

'''
set 에 item 으로 list 저장하기(X)
list 는 mutable type 이라서 set의 item으로 저장 못함
    set  <-- mutable type : list(mutable) / tuple(immutable)
    set 자료형에 저장되는 item은 immutable type 만 저장할 수 있음

TypeError: unhashable type: 'list'
            hashable type  <-- immutable
            unhashble type <-- mutable
set12 = {1, 2, 3, 'a', 'b', [1, 2, 3]}
print(set12)

set 에 item 으로 set 저장하기(X)
set 은 mutable type 이라서 set의 item으로 저장 못함
TypeError: unhashable type: 'set'
            hashable type  <-- immutable
            unhashble type <-- mutable
set12 = {1, 2, 3, 'a', 'b', {1, 2, 3}}
print(set12)

'''

[[1, 2], (3, 4), {1, 2, 3}, {}]
{1, 2, 3, 'b', 'a', (1, 2, 3)}

"\nset 에 item 으로 list 저장하기(X)\n    \n    set  <-- mutable type : list(mutable) / tuple(immutable)\n    set 자료형에 저장되는 item은 immutable type 만 저장할 수 있음\n\nTypeError: unhashable type: 'list'\n            hashable type  <-- immutable\n            unhashble type <-- mutable\nset12 = {1, 2, 3, 'a', 'b', [1, 2, 3]}\nprint(set12)\n\nset 에 item 으로 set 저장하기(X)\n\nTypeError: unhashable type: 'set'\n            hashable type  <-- immutable\n            unhashble type <-- mutable\nset12 = {1, 2, 3, 'a', 'b', {1, 2, 3}}\nprint(set12)\n\n"

In [31]:
'''
set 에 item 추가하기 : add()

'''

set1 = set()
print('set1 :', set1)

set1.add(1)
print('set1 :', set1)

set1.add('a')
print('set1 :', set1)

set1.add(3)
print('set1 :', set1)

# TypeError: set.add() takes exactly one argument (2 given)
# set1.add(4, 5)
# print('set1 :', set1)

# TypeError: unhashable type: 'list'  <-- mutable 이라서 저장 안 됨
# set1.add([4, 5])
# print('set1 :', set1)

# TypeError: unhashable type: 'set'  <-- mutable 이라서 저장 안 됨
# set1.add({4, 5})
# print('set1 :', set1)

set1.add((4, 5))
print('set1 :', set1)

# 여러개의 item을 낱개로 추가하기 : update()
set1.update((6, 7, 8))
print('set1 :', set1)

set1 : set()
set1 : {1}
set1 : {'a', 1}
set1 : {'a', 1, 3}
set1 : {'a', 1, (4, 5), 3}
set1 : {1, 3, 6, 7, 'a', 8, (4, 5)}

In [36]:
set1 = {1, 3, 6, 7, 'a', 8, (4, 5)}
print('set1 :', set1)

'''
set 에서 item 삭제하기 : remove(item), discard(item), pop()
'''

set1.remove(6)
print('set1 :', set1)

'''
remove() 로 삭제할 때 삭제할 item이 없으면 오류 발생함
'''
# set1. remove(6)

set1.discard(3)
print('set1 :', set1)

'''
discard() 로 삭제할 때 삭제할 item이 없으면 오류 발생하지 않음
'''
set1.discard(3)

set1 : {1, (4, 5), 3, 6, 7, 'a', 8}
set1 : {1, (4, 5), 3, 7, 'a', 8}
set1 : {1, (4, 5), 7, 'a', 8}

In [37]:
set1.pop()
print('set1 :', set1)

set1 : {(4, 5), 7, 'a', 8}

In [44]:
'''
교집합 : & / intersection()
합집합 : | / union()
차집합 : - / difference()
대칭차집합 : ^ / symmetric_difference()
'''

setA = {1, 2, 3, 4, 5, 6}
setB = {4, 5, 6, 7, 8, 9}

# 교집합 : & / intersection()
print(setA & setB)
print(setA.intersection(setB))

# 합집합 : | / union()
print(setA | setB)
print(setA.union(setB))

# 차집합 : - / difference()
print(setA - setB)
print(setB - setA)
print(setA.difference(setB))
print(setB.difference(setA))

# 대칭차집합 : ^ / symmetric_difference()
print(setA ^ setB)
print(setA.symmetric_difference(setB))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}

In [49]:
'''
frozenset : immutable type

생성방법 : frozenset() 함수 실행
'''
fs1 = frozenset()
print('fs1 :', fs1)
print('fs1 :', type(fs1))

fs2 = frozenset([1, 2, 3, 4])
print('fs2 :', fs2)
print('fs2 :', type(fs2))

fs3 = frozenset((1, 2, 3, 4))
print('fs3 :', fs3)
print('fs3 :', type(fs3))

fs4 = frozenset({1, 2, 3, 4})
print('fs4 :', fs4)
print('fs4 :', type(fs4))

fs1 : frozenset()
fs1 : <class 'frozenset'>
fs2 : frozenset({1, 2, 3, 4})
fs2 : <class 'frozenset'>
fs3 : frozenset({1, 2, 3, 4})
fs3 : <class 'frozenset'>
fs4 : frozenset({1, 2, 3, 4})
fs4 : <class 'frozenset'>

In [57]:
'''
달(월) 을 입력 받아서 그 달의 마지막 날짜를 출력하는 code를 작성하세요
'''

month = int(input('달(월)을 입력하세요 : '))

month_list1 = [1, 3, 5, 7, 8, 10, 12]
month_list2 = [4, 6, 9, 11]

last_day = 0

if month in month_list1:
    last_day = 31
elif month in month_list2:
    last_day = 30
elif month == 2:
    last_day = 28
else:
    last_day = '?'

if last_day != '?':
    print(f'입력된 달의 마지막 날짜는 {last_day} 입니다.')
else:
    print("잘못된 월(달)을 입력하였습니다. 1~12 사이로 입력해주세요.")

달(월)을 입력하세요 : 3
입력된 달의 마지막 날짜는 31 입니다.

In [60]:
'''
윤년 : 4로 나누어 떨어지고 100으로 나누어 떨어지지 않거나 400으로 나누어떨어지는 연도 

year % 4 == 0 and year % 100 != 0 or year % 400 == 0

'''
year = int(input('연도를 입력하세요 : '))
month = int(input('달(월)을 입력하세요 : '))

month_list1 = [1, 3, 5, 7, 8, 10, 12]
month_list2 = [4, 6, 9, 11]

last_day = 0

if month in month_list1:
    last_day = 31
elif month in month_list2:
    last_day = 30
elif month == 2:
    if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
        last_day = 29
    else:
        last_day = 28
else:
    last_day = '?'

if last_day != '?':
    print(f'입력된 달의 마지막 날짜는 {last_day} 입니다.')
else:
    print("잘못된 월(달)을 입력하였습니다. 1~12 사이로 입력해주세요.")

연도를 입력하세요 : 2000
달(월)을 입력하세요 : 2
입력된 달의 마지막 날짜는 29 입니다.

In [66]:
'''
주민등록번호를 입력 받아서 남자인지 여자인지 출력하세요

주민등록번호 7 번째 자리 수가 1,3 이면 남자, 2, 4 이면 여자

    810315-156598
'''

number = input('주민등록번호를 입력하세요 :')

if len(number) == 13:
    result = int(number[7])
elif len(number) == 12:
    result = int(number[6])
else:
    print('주민번호잘못 입력됨')

if result == 1 or result == 3:
    print('남자입니다')
elif result == 2 or result == 4:
    print('여자입니다')

주민등록번호를 입력하세요 :812323404948
4
여자입니다

In [67]:
'''
주민등록번호를 입력 받아서 남자인지 여자인지 출력하세요

주민등록번호 7 번째 자리 수가 1,3 이면 남자, 2, 4 이면 여자

    810315-156598
'''
# 하이픈 제거 하는 방법
joomin = input('주민등록번호를 입력하세요 :').replace('-','')
print(joomin)

주민등록번호를 입력하세요 :819898-123123
819898123123