In [3]:
'''
함수를 호출할 때는
함수의 선언부에 명시한
parameter 개수에 맞는
argument를 전달해야 함
'''

def sum_numbers(numbers):
    sum = 0
    for number in numbers:
        sum += number
    return sum

print('합계 :', sum_numbers((1, 2, 3, 4, 5)))

# TypeError: 'int' object is not iterable
# iterable type의 경우는 문자열, list, tuple, set, dictionary 등이 있음
# print('sum_numbers(10) :', sum_numbers(10))

합계 : 15

In [8]:
def sum_numbers(numbers):
    sum = 0
    for number in numbers:
        sum += number
    return sum

# TypeError: sum_numbers() takes 1 positional argument but 5 were given
# parameter와 argument의 개수가 맞지 않아서 오류 발생
# print('합계 :', sum_numbers(1, 2, 3, 4, 5))

In [9]:
'''
가변 parameter

parameter 는 하나만 선언하고
argument는 여러개 전달하기
    ㄴ parameter 앞에 * 표시를 해주면
       argument 들을 item 으로 하는 tuple을 생성함
'''
def sum_numbers(*numbers):
    print('numbers :', type(numbers))
    sum = 0
    for number in numbers:
        sum += number
    return sum

print('합계 :', sum_numbers(1, 2, 3, 4, 5))

numbers : <class 'tuple'>
합계 : 15

In [11]:
'''
여러 개의 정수를 parameter로 전달 받아서
지정한 연산의 결과를 반환하는 함수
'''

def multi_operator(operator, *numbers):
    
    if operator in ['add', 'subtract']:
        result = 0
    elif operator in ['multiplication', 'division']:
        result = 1
    
    if operator == 'add':
        for number in numbers:
            result += number
    elif operator == 'subtract': 
        for number in numbers:
            result -= number
    elif operator == 'multiplication':
        for number in numbers:
            result *= number
    elif operator == 'division':
        for number in numbers:
            result /= number
    return result

result1 = multi_operator('add', 1, 2, 3, 4, 5)
result2 = multi_operator('subtract', 1, 2, 3, 4, 5)
result3 = multi_operator('multiplication', 1, 2, 3, 4, 5)
result4 = multi_operator('division', 1, 2, 3, 4, 5)

print(result1)
print(result2)
print(result3)
print(result4)
print(round(result4, 4))

15
-15
120
0.008333333333333333
0.0083

In [44]:
def division(num1, num2):
    return round(num1/num2, 4)
num1 = 50
num2 = 3
print(division(num1,num2))

16.6667

In [42]:
'''
가변 parameter (가변 파라미터)는
맨 마지막 파라미터에만 지정할 수 있음
'''
def test1(n1, n2, n3, *n4):
    print(n1)
    print(n2)    
    print(n3)    
    print(n4)    
    
test1(1, 2, 3, 4, 5, 6, 7, 8)

1
2
3
(4, 5, 6, 7, 8)

In [23]:
'''
*를 두 개 사용하는 parameter

keyword parameter : parameter 앞에 * 두개 붙임
                        ㄴ key와 value를 전달받아서
                           dictionary를 생성함
(keyargs)
'''

def test2(**numbers):
    print(numbers)
    print('numbers :', type(numbers))

test2(이름 = '아마존', 나이 = 23, 주소 = '서울')

print('-' * 60)

def greeting(**say_hi):
    
    for key, value in say_hi.items():
        if key == 'mama':
            print("엄마 안녕하세요")
        else:
            print(f'당신의 이름은 {value} 입니다')

greeting(papa = '클라우드', mama = '아마존', aunt = '파이썬', uncle = '우분투')

{'이름': '아마존', '나이': 23, '주소': '서울'}
numbers : <class 'dict'>
------------------------------------------------------------
당신의 이름은 클라우드 입니다
엄마 안녕하세요
당신의 이름은 파이썬 입니다
당신의 이름은 우분투 입니다

In [32]:
# *과 **은 같이 쓰려면 * 뒤에 **을 넣어야 함
def company_info(name, *companies, **profits):
    print(name)
    for company in companies:
        print(company)
    for company, profit in profits.items():
        print(company, '영업이익 :', profit)

name = '삼성'
company1 = '삼성증권'
company2 = '삼성전자'
company3 = '삼성물산'

company_info(name, company1, company2, company3, company1_profit = 1000, company2_porfit = 2000, company3_profit = 3000)

삼성
삼성증권
삼성전자
삼성물산
company1_profit 영업이익 : 1000
company2_porfit 영업이익 : 2000
company3_profit 영업이익 : 3000

In [29]:
'''
함수를 호출할 때는
함수의 선언부에 명시한
parameter 개수에 맞는
argument를 전달해야 함

default parameter : 기본 매개변수
    ㄴ 매개변수를 선언하고 
       이 매개변수에 argument를 전달해야 함수가 실행됨
       선언한 매개변수에 argument를 전달하지 않았을 때
       기본값을 지정해서 사용함
           ㄴ argument를 전달하면 argument가
              default parameter 보다 우선순위가 높음

'''
# height = 192 <-- default parameter
def display_info(name, age, height = 192):
    print(f'이름 : {name}, 나이 : {age}, 키 : {height}')
    
display_info('아마존', 23, 187)
display_info('아마존2', 25)  # argument 값 전달하지 않아도 default parameter 값이 있어서 오류 발생X

이름 : 아마존, 나이 : 23, 키 : 187
이름 : 아마존2, 나이 : 25, 키 : 192

In [35]:
def display_info(name = '파이썬', age = 20, height = 192):
    print(f'이름 : {name}, 나이 : {age}, 키 : {height}')
    
display_info('아마존', 23, 187)
display_info('아마존2', 25)
display_info('아마존3')
display_info()

이름 : 아마존, 나이 : 23, 키 : 187
이름 : 아마존2, 나이 : 25, 키 : 192
이름 : 아마존3, 나이 : 20, 키 : 192
이름 : 파이썬, 나이 : 20, 키 : 192

In [39]:
'''
default parameter 를 잘못 지정한 형태
    ㄴ default parameter를 지정하기 위해서는 마지막 parameter 부터 입력해야 함
'''

def display_info(name = '파이썬', age, height):
    print(f'이름 : {name}, 나이 : {age}, 키 : {height}')

def display_info(name = '파이썬', age, height = 192):
    print(f'이름 : {name}, 나이 : {age}, 키 : {height}')

def display_info(name = '파이썬', age = 21, height):
    print(f'이름 : {name}, 나이 : {age}, 키 : {height}')

SyntaxError: non-default argument follows default argument (2922919669.py, line 6)