In [ ]:
phone = '82/010/6598/8754'

'''
split() 메소드를 사용해서
국가번호와 010을 제외한
나머지 8 자리숫자만 출력하세요
'''
phone_list = phone.split('/')
print('phone_list :',phone_list)
print('결과 : ',phone_list[2] + phone_list[3])

In [ ]:
movies = ['지구의밤', '라바', '문어선생님', '원더']
print('movies :',movies)

'''
movies 맨 뒤에 '작은 아씨들' 을 추가하세요
'''
movies.append('작은 아씨들')
print('movies :',movies)

'''
movies 맨 뒤에 '미니언즈' 을 추가하세요
'''
# movies.extend('미니언즈')
movies.extend(['미니언즈'])
print('movies :',movies)

'''
movies 맨 뒤에 '죠의사랑' 을 추가하세요
'''
# movies.insert(-1, '죠의사랑')
# movies.insert(len(movies)-1, '죠의사랑')
movies.insert(len(movies), '죠의사랑')
print('movies :',movies)

In [ ]:
movies = ['지구의밤', '라바', '문어선생님', '원더', '작은 아씨들', '미니언즈']
print('movies :',movies)
'''
문어선생님과 원더 사이에
JFK 를 추가하세요
'''
movies.insert(3, 'JFK')
print('movies :',movies)

'''
라바와 문어선생님 사이에
트위스트 를 추가하세요
'''
movies.insert(movies.index('문어선생님'), '트위스트')
print('movies :',movies)

In [ ]:
movies = \
['지구의밤', '라바', '트위스트', '문어선생님', 'JFK', '원더', '작은 아씨들', '미니언즈']
print('movies :',movies)
'''
미니언즈 를 movies 에서 삭제하세요 : remove()
'''
movies.remove('미니언즈')
print('movies :',movies)
'''
작은 아씨들을 movies 에서 삭제하세요 : pop()
'''
movies.pop()
print('movies :',movies)
'''
라바를 movies 에서 삭제하세요 : pop(index)
'''
movies.pop(movies.index('라바'))
print('movies :',movies)
'''
트위스트를 movies 에서 삭제하세요 : del 명령어 사용
'''
del movies[movies.index('트위스트')]
print('movies :',movies)
'''
in 연산자를 사용해서 movies 에 지구의밤 이 있는지 확인하세요
'''
print('지구의밤' in movies)
'''
in 연산자를 사용해서 movies 에 미션 이 있는지 확인하세요
'''
print('미션' in movies)

In [ ]:
numbers = [32, 56, 78, 10, 3, 5]

print('최댓값 :',max(numbers))
print('최솟값 :',min(numbers))
print('합  계 :',sum(numbers))

average = sum(numbers) / len(numbers)
print('평  균 :',average)
print('평  균 :',round(average))
print('평  균 :',round(average, 2))
print('평  균 :',round(average, 4))

In [ ]:
'''
numpy 모듈의  mean() 함수
'''
numbers = [32, 56, 78, 10, 3, 5]

import numpy as np
print(np.mean(numbers))
print(round(np.mean(numbers)))
print(round(np.mean(numbers), 2))

In [39]:
'''
statistics 모듈의  mean() 함수
'''
numbers = [32, 56, 78, 10, 3, 5]

import statistics as stat
print(stat.mean(numbers))
print(round(stat.mean(numbers)))
print(round(stat.mean(numbers), 4))

30.666666666666668
31
30.6667

In [44]:
companies = ['LG전자', '네이버', '아마존', '삼성전자']
print('companies :',companies)

'''
다음과 같이 출력하세요
  ㄴ LG전자 네이버 아마존 삼성전자

 split() 메소드 
str1 = 'LG전자,네이버,아마존,삼성전자'
print(str1.split(','))

'''

print(' '.join(companies))
print('##'.join(companies))
print('@'.join(companies))

companies : ['LG전자', '네이버', '아마존', '삼성전자']
LG전자 네이버 아마존 삼성전자
LG전자##네이버##아마존##삼성전자
LG전자@네이버@아마존@삼성전자

In [48]:
list1 = [1, 2, 3, 4, 5]

'''
리스트 아이템 삭제하기

remove(item)
pop()
pop(index)
del
clear()  <-- 모든 item 을 한꺼번에 삭제함
'''
print('list1 :',list1)
list1.clear()
print('list1 :',list1)

list1 : [1, 2, 3, 4, 5]
list1 : []