In [ ]:
'''
tuple 자료형 :     list 와 비슷함
() 사용                   immtable type <- 원본을 변형하지 못함
() 를 생략가능            item 의 추가, 삭제 를 못함
                          (cf. list 는 mutable type)

                   index 가 있음 
                   비어있는 tuple 을 생성할 수 있음
                       ㄴ () / tuple()
                   item 을 하나만 저장하는 경우에는 , 를 붙여줌
                   tuple 안에 tuple 을 저장할 수 있음
'''
tp1 = ()
tp2 = tuple()
print('tp1 :',tp1)
print('tp1 :',type(tp1))
print('tp2 :',tp2)
print('tp2 :',type(tp2))

tp3 = (1, 2, 3, 4, 5)
print('tp3 :',tp3)
print('tp3 :',type(tp3))

tp3 = 1, 2, 3, 4, 5
print('tp3 :',tp3)
print('tp3 :',type(tp3))

In [ ]:
tp4 = (10)
print('tp4 :',tp4)
print('tp4 :',type(tp4))

tp4 = (10,)
print('tp4 :',tp4)
print('tp4 :',type(tp4))

tp4 = 10,
print('tp4 :',tp4)
print('tp4 :',type(tp4))

In [ ]:
tp5 = "클라우드",
print('tp5 :',tp5)
print('tp5 :',type(tp5))

tp5 = 3.141592,
print('tp5 :',tp5)
print('tp5 :',type(tp5))

tp5 = True,
print('tp5 :',tp5)
print('tp5 :',type(tp5))

In [ ]:
tp6 = (1, 2, 3, 'python', 'cloud', True, 6.25)
print('tp6 :',tp6)
print('tp6 :',type(tp6))

print('tp6[4] :',tp6[4])

# TypeError: 'tuple' object does not support item assignment
# tuple 은 immutable type 이라서 item 를 바꿀(할당할) 수 없음
# tp6[4] = 'programming'

In [ ]:
tp6 = (1, 2, 3, ('python', 'cloud'), True, 6.25)
print('tp6 :',tp6)
print('tp6 :',type(tp6))
print('tp6[3][1] :',tp6[3][1])

In [ ]:
tp6 = (1, 2, 3, ('python', 'cloud', ('best', 'programming')), True, 6.25)
print('tp6 :',tp6)
print('tp6 :',type(tp6))
print('tp6[3][2][0] :',tp6[3][2][0])

In [ ]:
'''
tuple  -->  list   : list()
list   -->  tuple  : tuple()
'''
tp7 = (1, 2, 3, 4, 5)
print('tp7   :', type(tp7))

list1 = list(tp7)
print('list1 :', type(list1))

tp8 = tuple(list1)
print('tp8   :', type(tp8))

In [ ]:
tp9 = (1, 2, 3, 4, 5)
print('tp9   :', tp9)

'''
unpacking
'''
n1, n2, n3, n4, n5 = (1, 2, 3, 4, 5)
print(n1, n2, n3, n4, n5)
print(n1)
print(n2)
print(n3)
print(n4)
print(n5)

In [ ]:
list2 = [1, 2, 3, 4, 5]
print('list2 :',list2)
'''
unpcking
'''
num1, num2, num3, num4, num5 = [1, 2, 3, 4, 5]
print(num1)
print(num2)
print(num3)
print(num4)
print(num5)

In [ ]:
# unpacking
num1, num2, num3, num4, num5 = 1, 2, 3, 4, 5
print(num1)
print(num2)
print(num3)
print(num4)
print(num5)

In [ ]:
# unpacking
'''
*num4 변수에는 4 와 5 를 item 으로 하는 리스트가 할당됨
'''
num1, num2, num3, *num4 = 1, 2, 3, 4, 5
print(num1)
print(num2)
print(num3)
print(num4)

In [ ]:
num1, num2, *num3 = 1, 2, 3, 4, 5
print(num1)
print(num2)
print(num3)

In [ ]:
*num1, num2, num3 = 1, 2, 3, 4, 5
print(num1)
print(num2)
print(num3)

In [ ]:
num1, *num2, num3 = 1, 2, 3, 4, 5
print(num1)
print(num2)
print(num3)

In [ ]:
num1, *num2, num3, num4 = 1, 2, 3, 4, 5
print(num1)
print(num2)
print(num3)
print(num4)

In [ ]:
num1, num2, *num3, num4 = 1, 2, 3, 4, 5
print(num1)
print(num2)
print(num3)
print(num4)

In [ ]:
num1, num2, *num3, num4 = [1, 2, 3, 4, 5]
print(num1)
print(num2)
print(num3)
print(num4)

In [ ]:
# unpakcing 할 때 * 는 하나만 사용할 수 있음
# num1, *num2, *num3, num4 = [1, 2, 3, 4, 5]

In [ ]:
'''
range() 함수

range(stop)              : 0 부터 stop-1 까지  
range(start, stop)       : start 부터 stop-1 까지
range(start, stop, step) : start 부터 stop-1 까지 step-1 만큼 건너뜀

'''

# 1) range(stop)  
print(range(10))
print(list(range(10)))
print(tuple(range(10)))

In [ ]:
# 2) range(start, stop) 
# 1 부터 20까지 지정하기

print(list(range(1, 20)))
print(list(range(1, 21)))

In [ ]:
'''
numbers = '123456789'
print(numbers[::2])   <-- 홀수만
print(numbers[1::2])  <-- 짝수만
'''
# 3) range(start, stop, step)
print(list(range(1, 11)))
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 홀수만
print(list(range(1, 11, 2)))
# 짝수만
print(list(range(2, 11, 2)))

In [ ]:
number1 = 10
number2 = 20
print('number1 :',number1)
print('number2 :',number2)

# 변수값 교환하기 : unpacking
number1, number2 = number2, number1
print('number1 :',number1)
print('number2 :',number2)

In [ ]:
number1 = 10
number2 = 20
print('number1 :',number1)
print('number2 :',number2)

# 변수값 교환하기 : swapping
cup = number2
number2 = number1
number1 = cup

print('number1 :',number1)
print('number2 :',number2)