In [ ]:
# 49 page

var = '안녕 파이썬'; print(var)



# 50 page

print(7, type(7))
print(7.34, type(7.34))
print(3 + 4j, type(3 + 4j))
print(True, type(True))

In [ ]:
print('클라우드', type('클라우드'))
print(['클라우드'], type(['클라우드']))
print(['클라우드',], type(['클라우드',]))
print(('클라우드'), type(('클라우드')))
print(('클라우드',), type(('클라우드',)))
print((123), type((123)))
print((123,), type((123,)))
print({123}, type({123}))
print({123,}, type({123,}))
print({'학번':123}, type({'학번':123}))

In [ ]:
print(10)
print(oct(10))
print(hex(10))
print(bin(10))

In [ ]:
print(10)
print(0o12)
print(0xa)
print(0b1010)

In [ ]:
# 51 page
print(10 + 8)
print(10 - 8)
print(10 * 8)
print(10 / 8)
# 몫
print(10 // 8)
# 나머지
print(10 % 8)
print(10 ** 8)

In [ ]:
'''
result = result + 1

result += 1
'''

result = 10
print('result :',result)
result = result + 1
print('result :',result)
result = result + 1
print('result :',result)
result = result + 1
print('result :',result)

In [ ]:
result2 = 10
print('result2 :',result2)

'''
result2 =  result2 + 1

할당 연산자 왼쪽, 오른쪽에 있는 변수가 같아야 함

result2 +=  1
'''
result2 +=  1
print('result2 :',result2)
result2 +=  1
print('result2 :',result2)
result2 +=  1
print('result2 :',result2)
result2 +=  1
print('result2 :',result2)

In [ ]:
a = 1
b = 2

c = a + b
print(c)

In [ ]:
c = c + a
c += a
print(c)

In [ ]:
'''
c = c + a   |   c += a   (O)

c = a + b   |   c += a   (X)

'''

# divmod() 함수 <- (몫, 나머지)
print(divmod(10, 8))

In [ ]:
print(10 > 8)
print(10 < 8)
print(10 == 8)
print(10 >= 8)
print(10 <= 8)
print(10 != 8)

In [ ]:
# 52 page

# 논리 연산자 : and, or, not
#                &&   ||   !
# 논리 연사자의 피연산자는 bool type 만 가능함

'''
논리 and 연산자 - 논리곱
           ㄴ 모두 True 일 때만 True 를 반환함
              하나라도 False 면 False 를 반환함
'''
print(True  and True)
print(True  and False)
print(False and True)
print(False and False)

In [ ]:
print(True  and True and True and True and True and True and True)
print(True  and False and True and True and True and True and True and True)
print(False and True and True and True and True and True)
print(False and False and False and False and False and False)

In [ ]:
'''
논리 or 연산자 - 논리합
           ㄴ 모두 False 일 때만 False 를 반환함
              하나라도 True 면 True 를 반환함
'''
print(True  or True)
print(True  or False)
print(False or True)
print(False or False)

In [ ]:
print(True  or True or True or True or True or True)
print(True  or False or True or True or True or True)
print(False or True or False or False or False or False or False or False)
print(False or False or False or False or False or False or False or False)

In [ ]:
'''
short circuit
  ㄴ 논리 연산자에서 이미 결과가 확정되면 
     뒤에 나오는 연산을 하지 않음
'''
num1 = 10
num2 = 8

print(num1 > num2 and 10 + 2)
print(num1 < num2 and 10 + 2)
print('-' * 60)

print(num1 > num2 or 10 + 2)
print(num1 < num2 or 10 + 2)

In [ ]:
str1 = '클라우드'
str2 = ' 스쿨'

print(str1)
print(str2)
print(str1 + str2)

# 문자열에 * 연산을 하면 반복이 됨
print(str2 * 3)
print(str2 * 10)

print('-')
print('-' * 5)
print('-' * 10)
print('-' * 15)
print('-' * 20)

In [ ]:
print('------------------------------------------------------------')
print('-' * 60)

In [50]:
# 논리 부정 연산자 : not
b1 = True
print(b1)
print(not b1)

True
False