In [7]:
'''
반복문 : loop(statment)
  ㄴ for / while
  
  형식
      for 변수 in iterrable type(str, dictionary, range(), ...):
          반복할 명령문
          반복할 명령문
          반복할 명령문
          
'''

print(1)
print(2)
print(3)
print(4)
print(5)
print('-'*60)

numbers = list(range(1,21))
for number in numbers:
    print(number)

1
2
3
4
5
------------------------------------------------------------
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [10]:
for number in [1, 2, 3, 4, 5]:
    print(number)
print('-' * 60)

for number in [1, 2, 3, 4, 5]:
    print('AWS 클라우드 스쿨 -', number)
print('-' * 60)

1
2
3
4
5
------------------------------------------------------------
AWS 클라우드 스쿨 - 1
AWS 클라우드 스쿨 - 2
AWS 클라우드 스쿨 - 3
AWS 클라우드 스쿨 - 4
AWS 클라우드 스쿨 - 5
------------------------------------------------------------

In [11]:
for number in range(1,11):
    print(number, end=' ')

1 2 3 4 5 6 7 8 9 10

In [15]:
numbers = [(1, 2), (3, 4), (5, 6), (7, 8)]
for number in numbers:
    print(number)
print('-' * 60)

for num1, num2 in numbers:
    print(num1, num2)
print('-' * 60)

for num1, num2 in numbers:
    print(num1 + num2)
print('-' * 60)

for num1, num2 in numbers:
    print(num1 * num2)
print('-' * 60)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
------------------------------------------------------------
1 2
3 4
5 6
7 8
------------------------------------------------------------
3
7
11
15
------------------------------------------------------------
2
12
30
56
------------------------------------------------------------

In [17]:
fruits = ['딸기', '수박', '포도', '바나나', '메론']
for fruit in fruits:
    print(fruit)

'''
1 : 딸기
2 : 수박
3 : 포도
4 : 바나나
5 : 메론
'''

count = 0
for fruit in fruits:
    count += 1
    print(count, ':', fruit)

딸기
수박
포도
바나나
메론
1 : 딸기
2 : 수박
3 : 포도
4 : 바나나
5 : 메론

In [19]:
'''
enumerate() 함수 : list의 index 번호와 item을 tuple로 반환함

형식
  for index, item in enumerate(list):
      print(index, item)
'''

fruits = ['딸기', '수박', '포도', '바나나', '메론']

for index, fruit in enumerate(fruits):
    print(index + 1, ':', fruit)

1 : 딸기
2 : 수박
3 : 포도
4 : 바나나
5 : 메론

In [31]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

'''
for문을 사용해서 numbers에서 짝수만 출력하세요
'''

for number in numbers:
    if number % 2 == 0:
        print(number,end = ' ')
print()

for number in numbers[1::2]:
    print(number, end = ' ')
print()

for number in range(2,11,2):
    print(number, end = ' ')
print()

'''
if 다음에 나오는 값이 자동으로 bool type으로 형변환됨
기본적으로 if 다음에 나오는 조건절(number % 2)을
number % 2 -> 

'''

# 짝수
for number in numbers:
    if not number % 2:
        print(number, end = ' ')
print()

# 홀수
for number in numbers:
    if number % 2:
        print(number, end = ' ')
print()

2 4 6 8 10
2 4 6 8 10
2 4 6 8 10
2 4 6 8 10
1 3 5 7 9

In [39]:


'''
scores 에 5명의 성적이 저장되어있을 때
80점 이상은 합격, 80점 미만은 불합격이라고 출력하세요.

[결과]
1 번 학생 합격입니다.
2 번 학생 불합격입니다.
3 번 학생 합격입니다.
4 번 학생 불합격입니다.
5 번 학생 합격입니다.

'''
scores = [85, 76, 95, 56, 88]
result = ''

for index, score in enumerate(scores):
    if score >= 80:
        result = '합격'
    else:
        result = '불합격'
    print(f'{index + 1} 번 학생 {result}입니다.')

count = 0
for score in scores:
    count += 1
    if score >= 80:
        result = '합격'
    else:
        result = '불합격'
    print(f'{count} 번 학생 {result}입니다.')

1 번 학생 합격입니다.
2 번 학생 불합격입니다.
3 번 학생 합격입니다.
4 번 학생 불합격입니다.
5 번 학생 합격입니다.
1 번 학생 합격입니다.
2 번 학생 불합격입니다.
3 번 학생 합격입니다.
4 번 학생 불합격입니다.
5 번 학생 합격입니다.

In [41]:
scores = [85, 76, 95, 56, 88]
result = ''

for score in scores:
    if score >= 80:
        result = '합격'
    else:
        result = '불합격'
    print(f'{scores.index(score)+1} 번 학생 {result}입니다.')

1 번 학생 합격입니다.
2 번 학생 불합격입니다.
3 번 학생 합격입니다.
4 번 학생 불합격입니다.
5 번 학생 합격입니다.

In [45]:
'''
scores 에 5명의 성적이 저장되어있을 때
80점 이상은 합격, 80점 미만은 불합격이라고 출력하세요.

[결과]
1 번 학생 합격입니다.
2 번 학생 불합격입니다.
3 번 학생 합격입니다.
4 번 학생 불합격입니다.
5 번 학생 합격입니다.
합격생은 3명입니다.
불합격생은 2명입니다.

'''
pass_score = 0
fail_score = 0
for score in scores:
    if score >= 80:
        result = '합격'
        pass_score += 1
    else:
        result = '불합격'
        fail_score += 1
    print(f'{pass_score + fail_score} 번 학생 {result}입니다.')
print(f'합격생은 {pass_score}명입니다.')
print(f'불합격생은 {fail_score}명입니다.')

1 번 학생 합격입니다.
2 번 학생 불합격입니다.
3 번 학생 합격입니다.
4 번 학생 불합격입니다.
5 번 학생 합격입니다.
합격생은 3명입니다.
불합격생은 2명입니다.

In [52]:
scores_dict = {'이순신' : 91, '안중근' : 76, '유관순' : 98, '이율곡' : 86, '김유신' : 63}

'''
80점 이상인 경우에 합격이라고 할 때
아래와 같이 출력되도록 for문을 작성하세요

[결과]
1번 이순신 학생 : 합격
2번 안중근 학생 : 불합격
3번 유관순 학생 : 합격
4번 이율곡 학생 : 합격
5번 김유신 학생 : 불합격

'''

result = ''
count = 0

for name in scores_dict:
    count += 1
    if scores_dict[name] >= 80:
        result = '합격'
    else:
        result = '불합격'
    print(count, '번 ', score, '학생 : ', result)

1 번  김유신 학생 :  합격
2 번  김유신 학생 :  불합격
3 번  김유신 학생 :  합격
4 번  김유신 학생 :  합격
5 번  김유신 학생 :  불합격

In [62]:
'''
95 Page
'''

chars = []
sentence = '파이썬은 기능이 좋은 언어'

for k in sentence:
    chars.append(k)
    print(k, end='')
print()
print(chars)

# 공백없이 출력하기
for k in sentence:
    if k != ' ':
        print(k, end='')
print()

파이썬은 기능이 좋은 언어
['파', '이', '썬', '은', ' ', '기', '능', '이', ' ', '좋', '은', ' ', '언', '어']
파이썬은기능이좋은언어

In [65]:
'''
96 page

break : break 키워드 다음에 나오는 code를 모두 실행하지 않고 반복을 종료함

continue : continue 키워드 다음에 나오는 code를 실행하지 않고, 다음 반복으로 넘어감

'''
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in data:
    if number == 5:
        break
    print(number, end = ' ')
print()

for number in data:
    if number == 5:
        continue
    print(number, end = ' ')
print()

1 2 3 4
1 2 3 4 6 7 8 9 10