In [ ]:
'''
lambda 함수
  ㄴ 일반 함수를 짧게 표현한 함수
  
  형식]
    lambda 매개변수 : return값
    
    First Citizen - 일급 객체(일급 함수)
    1) lambda 식을 변수에 할당하기
    2) lambda 식을 함수의 argument 로 넣기
    3) lambda 식을 함수의 return 값으로 사용함
            
'''

def add_2_numbers(num1, num2):
    result = num1 + num2
    return result

print(add_2_numbers(10, 20))

# 1) lambda 식을 변수에 할당하기
# 람다식에 이름 붙이기 : 변수에 할당함
add_2_numbers2 = lambda num1, num2 : num1 + num2

# 람다식(함수)을 변수에 할당해서 호출하기
print(add_2_numbers2(30, 40))

# 람다식(함수)을 변수에 할당하지 않고 호출하기
print((lambda num1, num2 : num1 + num2)(50, 60))

In [ ]:
'''
def add_2_numbers(num1, num2):
    result = num1 + num2
    return result

lambda num1, num2 : num1 + num2
'''

def add_ten(number):
    return number + 10

add_ten2 = lambda number : number + 10
print(add_ten2(20))

print((lambda number : number + 10)(30))

In [ ]:
def square_number(number):
    return number ** 2

square_number2 = lambda number : number ** 2
print(square_number2(4))

print((lambda number : number * 2)(9))

In [ ]:
'''
연령대에 따른 category 를 반환하는 함수
'''
def get_category(age):
    category = ''
    if age < 5:
        category = 'Baby'
    elif age < 12:
        category = 'Child'
    else:
        category = 'Adult'
    return category

print(get_category(3))
print(get_category(9))
print(get_category(25))

In [ ]:
def get_category2(age):
    category = ''            
    category = 'Baby' if age < 5 else 'Child' if age < 12 else 'Adult'        
    return category

print(get_category2(3))
print(get_category2(9))
print(get_category2(25))
print('-' * 60)

get_category3 = lambda age : 'Baby' if age < 5 else \
                             'Child' if age < 12 else 'Adult'     
print(get_category3(5))

In [ ]:
def get_category4(age):
    category = ''
    if age < 5:
        category = 'Baby'
    elif age < 12:
        category = 'Child'
    elif age < 20:
        category = 'Teenager'
    elif age < 60:
        category = 'Adult'
    else:
        category = 'Elderly'
    return category

cat = (lambda age : 'Baby' if age < 5 else 
                    'Child' if age < 12 else
                    'Teenager' if age < 20 else
                    'Adult' if age < 60 else 'Elderly')(45)
print(cat)  

age_category = lambda age : 'Baby' if age < 5 else \
                            'Child' if age < 12 else \
                            'Teenager' if age < 20 else \
                            'Adult' if age < 60 else 'Elderly'
print(age_category(20))

In [ ]:
'''
parameter 는 없고 return 값만 있는 lambda 식
'''
def test1():
    return 10

print((lambda : 10)())

number = 100
print((lambda : number)())

In [ ]:
'''
 2) lambda 식을 함수의 argument 로 넣기
    (함수)
    map(), filter(), reduce()
'''
numbers = list(range(1, 11))

# 1) map(함수이름, iterable type)

# numbers 에서 2의 배수만 문자열로 변환하는 함수

def to_str(number):
    return str(number)
    
to_str2 = lambda number : str(number)

num1 = 1234
print(to_str(num1))
print(type(to_str(num1)))

print(to_str2(num1))
print(type(to_str2(num1)))

In [ ]:
numbers = list(range(1, 11))

def to_str_list(numbers):
    result_list = []
    for number in numbers:
        if not number % 2:
            result_list.append(str(number))
        else:
            result_list.append(number)
    return result_list

print(numbers)
print(to_str_list(numbers))

In [ ]:
'''
  numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  
  1) map(함수이름, iterable type)
         ㄴ iterable type 에 있는 item 을 순차적으로 
            지정한 함수의 parameter 로 전달한 후
            return 값을 받음
'''
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = list(range(1, 11))

def to_str(number):    
    if not number % 2:
        return str(number)
    else:
        return number
    return str(number)

print(list(map(to_str, numbers)))

lambda number : str(number) if not number % 2 else number
print(list(map(l mu  ambda number : str(number) if not number % 2 else number, numbers)))

to_str2 = lambda number : str(number) if not number % 2 else number
print(list(map(to_str2, numbers)))

In [ ]:
'''
numbers 에서 1 은 문자열로 변환하고
 2 는 float 로 변환하고 3 이상은 제곱해서 출력하세요
  <--  map() 함수 사용하기
'''
numbers = list(range(1, 11))

def test2(number):
    result = 0
    if number == 1: result = str(number)
    elif number == 2: result = float(number)    
    else: result = number ** 2
    return result    

print(test2(1), type(test2(1)))
print(test2(2), type(test2(2)))
print(test2(5), type(test2(5)))

print(list(map(test2, numbers)))

test3 = lambda number : str(number) if number == 1 else float(number) if number == 2 else number**2
print(test3(1), type(test3(1)))
print(test3(2), type(test3(2)))
print(test3(3), type(test3(3)))

print(list(map(test3, numbers)))
print(list(map(lambda number : str(number) if number == 1 else float(number) if number == 2 else number**2, numbers)))

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# 정수 두 개를 전달 받아서
# 두 정수의 곱을 반환하는 함수
def get_multi(num1, num2):
    return num1 * num2

print(get_multi(3, 9))
print(list(map(get_multi, list1, list2)))

In [ ]:
list3 = [1, 2, 3, 4, 5]
list4 = [4, 5, 6, 7, 8]

# 두 개의 정수를 전달받아서
# 각 정수의 제곱값을 tuple 로 반환하는 함수
def test4(num1, num2):
    return num1**2, num2**2

print(test4(2, 5))

test4_1 = lambda num1, num2 : (num1**2, num2**2)
print(test4_1(4, 6))

print(list(map(test4, list3, list4)))
print(list(map(test4_1, list3, list4)))
print(list(map(lambda num1, num2 : (num1**2, num2**2), list3, list4)))

In [ ]:

# 정수 하나를 전달 받아서 
# 양수이면 '양수' 를 반환하고
# 음수이면 '음수' 를 반환하는 함수

def test5(number):
    result = ''
    if number > 0:
        result = '양수'
    elif number < 0:
        result = '음수'
    else:
        result = '0'
    return result   

list6 = list(range(-5, 5))
print(list6)

print(list(map(test5, list6)))

test5_1 = lambda number : '양수' if number > 0 else '음수' if number < 0 else '0'
print(test5_1(4))
print(test5_1(-87))

print(list(map(test5_1, list6)))
print(list(map(lambda number : '양수' if number > 0 else '음수' if number < 0 else '0', list6)))

In [1]:
'''
filter() 함수
  filter(함수이름, iterable type)
          ㄴ bool type 의 값을 return 하는 함수  
'''

# 정수 하나를 전달 받아서
# 3의 배수이면 True 를 반환하는 함수
#  (3의 배수가 아니면 False 를 반환함)
def test6(number):
    result = False
    if not number % 3:
        result = True
    return result

print(test6(3))
print(test6(30))
print(test6(5))

list7 = list(range(12, 31))
print(list(filter(test6, list7)))

print((lambda number : not number % 3)(3))
print((lambda number : number % 3 == 0)(3))
print((lambda number : not number % 3)(31))
print((lambda number : number % 3 == 0)(31))

'''
number 가 3의 배수인 경우 True 인 조건을 표현한 if 를 사용한 삼항연산자 형식
True if not number % 3 else False
True if number % 3 == 0 else False

축약해서 표현한 code
not number % 3
'''
print(list(filter(lambda number : True if not number % 3 else False, list7)))
print(list(filter(lambda number : True if number % 3 == 0 else False, list7)))
print(list(filter(lambda number : not number % 3, list7)))

True
True
False
[12, 15, 18, 21, 24, 27, 30]
True
True
False
False
[12, 15, 18, 21, 24, 27, 30]
[12, 15, 18, 21, 24, 27, 30]
[12, 15, 18, 21, 24, 27, 30]

In [74]:
'''
list8  에서  6 보다 크고 12 보다 작은 숫자만 출력하세요
'''

# 정수 하나를 전달받아서
# 6 보다 크고 12 보다 작을 때만 True 를 return 하는 함수
#   ㄴ 이 조건에 맞지 않으면 False 를 return 함
list8 = [8, 3, 2, 10, 15, 7, 1, 9, 0, 13]

def test7(number):
    result = False
    if 6 < number < 12:
        result = True
    return result

print(test7(23))
print(test7(9))

print(list(filter(test7, list8)))

def test7_1(number):
    return 6 < number < 12

list8 = [8, 3, 2, 10, 15, 7, 1, 9, 0, 13]

print(list(filter(test7_1, list8)))
print(list(filter(lambda number : 6 < number < 12, list8)))

print([number for number in list8 if 6 < number < 12])

False
True
[8, 10, 7, 9]
[8, 10, 7, 9]
[8, 10, 7, 9]
[8, 10, 7, 9]

In [73]:
'''
reduce() 함수
  ㄴ reduce(함수이름, iterable type)
'''

# 두 개의 정수를 전달 받아서
# 두 정수의 합을 반환하는 함수
def test8(num1, num2):
    return num1 + num2

list9 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

from functools import reduce

print(reduce(test8, list9))

lambda num1, num2 : num1 + num2

print(reduce(lambda num1, num2 : num1 + num2, list9))

# 1 부터 100까지의 합을 reduce() 함수를 사용해서 출력하세요

print(reduce(lambda num1, num2 : num1 + num2 , list(range(1, 101))))

55
55
5050

In [84]:
'''
3) lambda 식을 함수의 return 값으로 사용함
'''

'''
lambda 식을 반환한 것이 아니고
lambda 식의 반환값을 반환하는 함수
def test9(number):
    return (lambda num : num * 10)(number)

print(test9(10))
'''
def test10():
    return lambda num : num * 10
print(test10()(10))

print((lambda num : num * 10)(10))
ten_times = lambda num : num * 10
print(ten_times(10))

number = 200
def test11():
    return number
print(test11())

100
100
100
200