In [23]:
'''
dictionary 에서 item 삭제하기

1)
pop(key) 메소드 : 지정한 key 에 해당하는 value 를 삭제하고
                  해당 value 를 반환함
'''
students = {
    'addr' : ['동작구', '관악구', '서초구'],
    'age'  : [46, 72, 18],
    'grade' : [4, 3, 1],
    'name' : ['이순신', '강감찬', '유관순']
}
import pprint
pprint.pprint(students)
print('-' * 60)

print("students.pop('age') :",students.pop('age'))
pprint.pprint(students)
print('-' * 60)

students['weight'] = [92, 81, 56]
pprint.pprint(students)
print('-' * 60)

'''
2)
popitem() 메소드 : 맨 나중에 추가된 item 을 삭제하고
                   해당 item 을 tuple(key, value) 로 반환함
'''
item = students.popitem()
pprint.pprint(students)
print('-' * 60)

print('item :',item)

{'addr': ['동작구', '관악구', '서초구'],
 'age': [46, 72, 18],
 'grade': [4, 3, 1],
 'name': ['이순신', '강감찬', '유관순']}
------------------------------------------------------------
students.pop('age') : [46, 72, 18]
{'addr': ['동작구', '관악구', '서초구'],
 'grade': [4, 3, 1],
 'name': ['이순신', '강감찬', '유관순']}
------------------------------------------------------------
{'addr': ['동작구', '관악구', '서초구'],
 'grade': [4, 3, 1],
 'name': ['이순신', '강감찬', '유관순'],
 'weight': [92, 81, 56]}
------------------------------------------------------------
{'addr': ['동작구', '관악구', '서초구'],
 'grade': [4, 3, 1],
 'name': ['이순신', '강감찬', '유관순']}
------------------------------------------------------------
item : ('weight', [92, 81, 56])

In [24]:
'''
3)
del 명령어로 item 삭제하기
'''
pprint.pprint(students)
print('-' * 60)

del students['grade']
pprint.pprint(students)
print('-' * 60)

'''
4)
clear() 메소드 : 모든 item을 한꺼번에 삭제하기
'''
students.clear()
pprint.pprint(students)
print('-' * 60)

{'addr': ['동작구', '관악구', '서초구'],
 'grade': [4, 3, 1],
 'name': ['이순신', '강감찬', '유관순']}
------------------------------------------------------------
{'addr': ['동작구', '관악구', '서초구'], 'name': ['이순신', '강감찬', '유관순']}
------------------------------------------------------------
{}
------------------------------------------------------------

In [25]:
'''
update() 메소드를 사용해서
dictionary 결합하기
'''
students1 = {
    'name' : ['이순신', '강감찬', '유관순'],
    'age'  : [46, 72, 18]
}
students2 = {
    'height' : [192, 187, 169],
    'weight' : [92, 81, 56]
}
print(students1)
print(students2)

{'name': ['이순신', '강감찬', '유관순'], 'age': [46, 72, 18]}
{'height': [192, 187, 169], 'weight': [92, 81, 56]}

In [26]:
'''
students1 에 students2 추가하기
'''
students1.update(students2)
print(students1)
print(students2)

{'name': ['이순신', '강감찬', '유관순'], 'age': [46, 72, 18], 'height': [192, 187, 169], 'weight': [92, 81, 56]}
{'height': [192, 187, 169], 'weight': [92, 81, 56]}

In [27]:
'''
students2 에 students1 추가하기
'''
students2.update(students1)
pprint.pprint(students1)
pprint.pprint(students2)

{'age': [46, 72, 18],
 'height': [192, 187, 169],
 'name': ['이순신', '강감찬', '유관순'],
 'weight': [92, 81, 56]}
{'age': [46, 72, 18],
 'height': [192, 187, 169],
 'name': ['이순신', '강감찬', '유관순'],
 'weight': [92, 81, 56]}

In [28]:
'''
students2 에서 이순신의 키와 체중을
각각 195, 90 으로 수정하세요
'''
students2['height'][0] = 195
students2['weight'][0] = 90
pprint.pprint(students2)
print('-' * 60)

'''
students2 에서 강감찬의 키와 체중을
각각 180, 78 로 수정하세요
'''
students2['height'] = [195, 180, 169]
students2['weight'] = [90, 78, 56]
pprint.pprint(students2)
print('-' * 60)

{'age': [46, 72, 18],
 'height': [195, 187, 169],
 'name': ['이순신', '강감찬', '유관순'],
 'weight': [90, 81, 56]}
------------------------------------------------------------
{'age': [46, 72, 18],
 'height': [195, 180, 169],
 'name': ['이순신', '강감찬', '유관순'],
 'weight': [90, 78, 56]}
------------------------------------------------------------

In [29]:
'''
students2 에서 각 사람의 나이에 20을 더하세요
'''
students2['age'] = [66, 92, 38]
pprint.pprint(students2)
print('-' * 60)

{'age': [66, 92, 38],
 'height': [195, 180, 169],
 'name': ['이순신', '강감찬', '유관순'],
 'weight': [90, 78, 56]}
------------------------------------------------------------

In [30]:
'''
students2 에서 각 사람의 나이에서 10을 빼세요
'''
students2['age'][0] = students2['age'][0] - 10
students2['age'][1] = students2['age'][1] - 10
students2['age'][2] = students2['age'][2] - 10
pprint.pprint(students2)
print('-' * 60)

{'age': [56, 82, 28],
 'height': [195, 180, 169],
 'name': ['이순신', '강감찬', '유관순'],
 'weight': [90, 78, 56]}
------------------------------------------------------------

In [34]:
print(students2['age'])
'''
students2 에서 각 사람의 나이에 5를 더하세요 
  ㄴ update() 메소드 사용하기
'''
students2.update(age=[61, 87, 28])
pprint.pprint(students2)
print('-' * 60)

'''
students2 에서 각 사람의 나이에 7를 더하세요 
  ㄴ update() 메소드 사용하기
'''
students2.update({'age' : [68, 94, 35]})
'''
age1 = students2['age'][0] + 7
age2 = students2['age'][1] + 7
age3 = students2['age'][2] + 7
students2.update({'age' : [age1, age2, age3]})
'''
pprint.pprint(students2)

[61, 87, 28]
{'age': [61, 87, 28],
 'height': [195, 180, 169],
 'name': ['이순신', '강감찬', '유관순'],
 'weight': [90, 78, 56]}
------------------------------------------------------------
{'age': [68, 94, 35],
 'height': [195, 180, 169],
 'name': ['이순신', '강감찬', '유관순'],
 'weight': [90, 78, 56]}