In [7]:
'''
리스트 내포 : list comprehension
    ㄴ 리스트 [] 안에서 for 문, if 문을 사용함
    
    형식
        [append 되는 값 for 문 첫번째 줄]
        
'''

numbers1 = [1, 2, 3, 4, 5]
numbers2 = []

'''
numbers1 에 있는 item 들에 3을 곱한 값들을
numbers2 에 저장(append) 하세요
'''

for number in numbers1:
    numbers2.append(number*3)
print('numbers2 :', numbers2)

# 리스트 내포 버전
numbers2 = [number*3 for number in numbers1]
print('numbers2 :', numbers2)

numbers2 : [3, 6, 9, 12, 15]
numbers2 : [3, 6, 9, 12, 15]

In [9]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = []

'''
numbers1 에 있는 item 들을제곱한 값들을
numbers2 에 저장(append) 하세요
'''

for number in numbers1:
    numbers2.append(number * number)
    # numbers2.append(number ** 2)
    
print('numbers2 :', numbers2)

numbers2 = [number * number for number in numbers1]
print('numbers2 :', numbers2)

numbers2 : [1, 4, 9, 16, 25]
numbers2 : [1, 4, 9, 16, 25]

In [19]:
list1 = ['1', '2', '3', 4, 5, 6, '7', 8, '9']
list2 = []

'''
list1에서 문자열을 정수로 형변환해서
list2에 append 한 후 list2를 출력하세요
'''

list2 = [int(i) for i in list1]
print('list1 :', list1)
print('list2 :', list2)

list1 : ['1', '2', '3', 4, 5, 6, '7', 8, '9']
list2 : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = []

'''
list1에서 첫번째 숫자는 문자열로
두번째 숫자는 실수로 형변환하고
나머지 숫자는 제곱한 값을 list2에 append 하게 출력하세요.

리스트 내포에서 조건문 사용하기
if - elif -else 형태

[if문을 사용한 삼항연산자 for 문]
    ㄴ [참일 때 값 if 조건 else 거짓일 때 값 for 문]
    ㄴ append 되는 값
'''

for idx, number in enumerate(list1):
    if idx == 0:
        list2.append(str(number))
    elif idx == 1:
        list2.append(float(number))
    else:
        list2.append(number ** 2)
print(list2)


print([str(number) if idx == 0 else float(number) if idx == 1 else number **  2 for idx, number in enumerate(list1)])

['1', 2.0, 9, 16, 25, 36, 49, 64, 81]
['1', 2.0, 9, 16, 25, 36, 49, 64, 81]

In [25]:
'''
1부터 10까지 정수 중에서
짝수만 제곱해서 (홀수는 그대로) 출력하세요
'''
result = []
for number in range(1, 11):
    if not number % 2:
        result.append(number ** 2)
    else:
        result.append(number)
print(result)

print([number ** 2 if not number % 2 else number for number in range(1, 11)])

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]
[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [29]:
numbers = list(range(1, 11))

'''
numbers 에서 짝수만 골라서 출력하세요

if 문과 for문을 리스트 내포에서 작성하기
    ㄴ elif 나 else 가 없는 if 문은
    [for 문 첫번째 줄 if 문]  <-- 이렇게 작성
'''
numbers = list(range(1, 11))
numbers2 = []

for number in numbers:
    if not number % 2:
        numbers2.append(number)
print(numbers2)

# if문을 사용하지만 elif나 else가 없는 경우는 아래와 같은 형식으로 사용
print([number for number in numbers if not number % 2])

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [41]:
'''
1부터 20까지의 정수 중에서
3의 배수를 제외하고 출력하세요
'''
numbers1 = list(range(1, 21))
numbers2 = []

# 1) for 문
for number in numbers1:
    if number % 3:
        numbers2.append(number)
print(numbers2)

# 2) 리스트 내포
print([number for number in numbers1 if number % 3])

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]
[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]

In [47]:
'''
1부터 10까지의 정수 중에서 짝수만 제곱해서 출력하세요
'''

# for 문
for num in range(1,11):
    if not num % 2:
        print(num ** 2, end= " ")
print()
# 리스트 내포
print([num ** 2 for num in range(1,11) if not num % 2])

4 16 36 64 100
[4, 16, 36, 64, 100]

In [49]:
'''
1부터 10까지의 정수 중에서 짝수는 제곱해서 출력하고
홀수는 10을 더한 값을 출력하세요
'''

numbers1 = list(range(1, 11))
numbers2 = list()

print([num **2 if not num % 2 else num + 10 for num in numbers1])

for num in numbers:
    if not num % 2:
        numbers2.append(num ** 2)
    else:
        numbers2.append(num + 10)
print(numbers2)

[11, 4, 13, 16, 15, 36, 17, 64, 19, 100]
[11, 4, 13, 16, 15, 36, 17, 64, 19, 100]

In [57]:
'''
names에 저장된 item 중에서 이름이 있으면 그대로 출력하고
이름이 없으면 None 빈 문자열을 출력하세요
'''

names = ['이순신', '안중근', None, '유관순', '양만춘', None, '윤봉길']
result = []

'''
python에서는 None이라는 객체가 있음
'''

for name in names:
    if name:
        result.append(name)
    else:
        result.append('')
print(result)

print(['' if name == None else name for name in names])
print([name if name else '' for name in names])

# if name in names <-- name 에 None이 오는 경우
print([name if name in names else '' for name in names])

['이순신', '안중근', '', '유관순', '양만춘', '', '윤봉길']
['이순신', '안중근', '', '유관순', '양만춘', '', '윤봉길']
['이순신', '안중근', '', '유관순', '양만춘', '', '윤봉길']

In [58]:
scores = [87, 92, 54, 100, 67, 81, 77]
result = []
'''
성적이 80점이상이면 합격이라고 출력하고
80점 미만이면 불합격이라고 출력하세요
'''
print(["합격" if score >=80 else "불합격" for score in scores])

['합격', '합격', '불합격', '합격', '불합격', '합격', '불합격']

In [64]:
'''
1부터 20까지의 정수 중에서 3의 배수를 제외하고
2의 배수는 음수로 출력하고, 2의 배수가 아니면 그대로 출력하세요

리스트내포에서 중첩 if 문 사용하기

[내부if문(if를 사용한 삼항연산자) for 문 외부 if문]

'''

result = []
for number in range(1, 21):
    if number % 3:
        if not number % 2:
            result.append(-number)
        else:
            result.append(number)
print(result)

# [내부if문(if를 사용한 삼항연산자) for 문 외부 if문]
print([-number if not number % 2 else number for number in range(1, 21) if number % 3])

[1, -2, -4, 5, 7, -8, -10, 11, 13, -14, -16, 17, 19, -20]
[1, -2, -4, 5, 7, -8, -10, 11, 13, -14, -16, 17, 19, -20]