In [6]:
'''
lambda 함수
    ㄴ 일반 함수를 짧게 표현한 함수
    
    형식
        lambda 매개변수 : return 값
    
    First Citizen - 일급 객체(일급 함수)
    1) lambda 식을 변수에 할당하기
    2) lambda 식을 함수의 argument로 넣기
    3) lambda 식을 함수의 return 값으로 사용함
'''

def add_2_numbers(num1, num2):
    result = num1 + num2
    return result

print(add_2_numbers(10,20))

# 람다식에 이름 붙이기 : 변수에 할당함
# 1) lambda 식을 변수에 할당하기
add_2_numbers2 = lambda num1, num2 : num1 + num2
print(add_2_numbers2(30, 40))

# 람다식(함수)을 변수에 할당하지 않고 호출하기
print((lambda num1, num2 : num1 + num2)(50,60))

30
70
110

In [9]:
'''
def add_2_numbers(num1, num2):
    result = num1 + num2
    return result

lambda num1, num2 : num1 + num2
'''

def add_ten(number):
    return number + 10

add_ten2 = lambda number : number + 10
print(add_ten2(30))

print((lambda number : number + 10)(20))

40
30

In [10]:
def square_number(number):
    return number ** 2

square_number2 = lambda number : number ** 2
print(square_number2(10))
print((lambda number : number ** 2)(5))

100
25

In [20]:
'''
연령대에 따른 category 를 반환하는 함수
'''
def get_category(age):
    category = ''
    if age < 5:
        category = 'Baby'
    elif age <12:
        category = 'Child'
    else:
        category = 'Adult'
    return category

print(get_category(3))
print(get_category(9))
print(get_category(25))

Baby
Child
Adult

In [24]:
'''
연령대에 따른 category 를 반환하는 함수
'''
def get_category2(age):
    category = ''
    # if 를 삼항연산자 식으로 변형
    # True값 if 조건 else True값 if 조건 True값 if 조건...형식 
    category = 'Baby' if age < 5 else 'Child' if age < 12 else 'Adult'
    return category

print((lambda age : 'Baby' if age < 5 else 'Child' if age < 12 else 'Adult')(3))

Baby

In [23]:
'''
연령대에 따른 category 를 반환하는 함수
'''
def get_category3(age):
    category = ''
    if age < 5:
        category = 'Baby'
    elif age <12:
        category = 'Child'
    elif age < 20:
        category = 'Teenager'
    elif age < 60:
        category = 'Adult'
    else:
        category = 'Elderly'
    return category

print((lambda age : 'Baby' if age < 5 else 'Child' if age < 12 else 'Adult' if age < 60 else 'Elderly' )(67))

Elderly

In [27]:
'''
parameter 없고, return 값만 있는 lambda 식
'''
def test1():
    return 10

print((lambda : 10)())

number = 100
print((lambda : number)())

10
100

In [33]:
'''
    2) lambda 식을 함수의 argument로 넣기

    map(), filter(), reduce()
'''
numbers = list(range(1,11))

# 1) map(함수이름, iterable type)

def to_str(number):
    return str(number)

to_str2 = lambda number : str(number)

num1 = 1234
print(to_str(num1))
print(type(to_str(num1)))

print(to_str2(num1))
print(type(to_str2(num1)))

1234
<class 'str'>
1234
<class 'str'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']

In [34]:
# numbers 에서 2의 배수만 문자열로 변환하는 함수
def to_str_list(numbers):
    result_list = []
    for number in numbers:
        if not number % 2:
            result_list.append(str(number))
        else:
            result_list.append(number)
    return result_list

print(numbers)
print(to_str_list(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']

In [119]:
'''
    1) map(함수이름, iterable type)
        ㄴ iterable type에 있는 item을 순차적으로
           지정한 함수의 parameter로 전달한 후  
           return 값을 받음 
'''

numbers = list(range(1,11))

def to_str(number):
    if not number % 2:
        return str(number)
    else:
        return number

print(list(map(to_str, numbers)))
print(list(map(lambda number : str(number) if not number % 2 else number, numbers)))

[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']
[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']

In [46]:
# 위에 코드를 lambda 식으로 변환
numbers = list(range(1,11))

# 기존 식
def to_str(number):
    if not number % 2:
        return str(number)
    else:
        return number

print(list(map(to_str, numbers)))

# 위에 함수를 lambda로 변경 후 map 사용(직접 사용)
lambda number : str(number) if not number % 2 else number
print(list(map(lambda number : str(number) if not number % 2 else number, numbers)))

# 위에 함수를 lambda로 변경 후 map 사용(lambda를 변수에 넣고 사용)
to_str2 = lambda number : str(number) if not number % 2 else number
print(list(map(to_str2, numbers)))

[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']
[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']
[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']

In [57]:
'''
numbers 에서 1은 문자열로 변환하고
2 는 float로 변환하고 3 이상은 제곱해서 출력하세요
 <-- map() 함수 사용하기
'''

numbers = list(range(1, 11))

def test2(number):
    result = 0
    if number == 1: result = str(number)
    elif number == 2: result = float(number)
    else: result = number ** 2
    return result

print(test2(1), type(test2(1)))
print(test2(2), type(test2(2)))
print(test2(5), type(test2(5)))

print(list(map(test2, numbers)))

test3 = lambda number : str(number) if number == 1 else float(number) if number == 2 else number ** 2
print(test3(1), type(test3(1)))
print(test3(2), type(test3(2)))
print(test3(3), type(test3(3)))

print(list(map(test3, numbers)))
print(list(map(lambda number : str(number) if number == 1 else float(number) if number == 2 else number ** 2, numbers)))

1 <class 'str'>
2.0 <class 'float'>
25 <class 'int'>
['1', 2.0, 9, 16, 25, 36, 49, 64, 81, 100]
1 <class 'str'>
2.0 <class 'float'>
9 <class 'int'>
['1', 2.0, 9, 16, 25, 36, 49, 64, 81, 100]
['1', 2.0, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# 정수 두 개를 전달 받아서 두 정수의 곱을 반환하는 함수
def get_multi(num1, num2):
    return num1 * num2

print(get_multi(3, 9))

print(list(map(get_multi, list1, list2)))

27
[6, 14, 24, 36, 50]

In [66]:
list3 = [1, 2, 3, 4, 5]
list4 = [4, 5, 6, 7, 8]

# 두 개의 정수를 전달받아서
# 각 정수의 제곱값을 tuple로 반환하는 함수
def test4(num1, num2):
    return num1 ** 2, num2 ** 2

print(test4(2, 5))

# 두 개의 return 값이 있을때는  ()로 묶어야 함
test4_1 = lambda num1, num2 : (num1 ** 2, num2 ** 2)
print(test4_1(4, 6))

print(list(map(test4, list3, list4)))
print(list(map(test4_1, list3, list4)))
print(list(map(lambda num1, num2 : (num1 ** 2, num2 ** 2), list3, list4)))

(4, 25)
(16, 36)
[(1, 16), (4, 25), (9, 36), (16, 49), (25, 64)]
[(1, 16), (4, 25), (9, 36), (16, 49), (25, 64)]
[(1, 16), (4, 25), (9, 36), (16, 49), (25, 64)]

In [74]:
'''
정수 하나를 전달받아서
양수이면 '양수'를 반환하고
음수이면 '음수'를 반환하는 함수
'''

def test5(number):
    result = ''
    if number > 0:
        result = '양수'
    elif number < 0:
        result = '음수'
    else:
        result = '0'
    return result

list6 = list(range(-5, 5))
print(list6)

print(list(map(test5, list6)))
test6 = lambda number : '양수' if number > 0 else '음수' if number < 0 else '0'
print(list(map(test6, list6)))
print(list(map(lambda number : '양수' if number > 0 else '음수' if number < 0 else '0', list6)))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]
['음수', '음수', '음수', '음수', '음수', '0', '양수', '양수', '양수', '양수']
['음수', '음수', '음수', '음수', '음수', '0', '양수', '양수', '양수', '양수']
['음수', '음수', '음수', '음수', '음수', '0', '양수', '양수', '양수', '양수']

In [88]:
'''
fliter() 함수
    filter(함수이름, iterable type)
            ㄴ bool type의 값을 return 하는 함수
'''

# 정수 하나를 전달 받아서
# 3의 배수이면 True를 반환하는함수 

def test6(number):
    return not number % 3

print(test6(5))
print(test6(3))

list7 = list(range(12, 31))
print(list(filter(test6, list7)))

print((lambda number : not number % 3)(4))
print((lambda number : not number % 3)(12))

print(list(filter(lambda number : not number % 3, list7)))

False
True
[12, 15, 18, 21, 24, 27, 30]
False
True
[12, 15, 18, 21, 24, 27, 30]

In [124]:
list8 = [8, 3, 2, 10, 15, 7, 1, 9, 0, 13]

'''
list8 에서 6 보다 크고 12 보다 작은 숫자만 출력하세요
'''

# 정수 하나를 전달받아서
# 6보다 크고 12보다 작을 때만 True를 return 하는 함수
#   ㄴ 이 조건에 맞지 않으면 False를 return 함

def test7(number):
    return 6 < number < 12

print(list(filter(test7, list8)))
print((lambda number : 6 < number < 12)(7))

print(list(filter(lambda number : 6 < number < 12, list8)))

# 리스트 내포 형식과 비교
print([number for number in list8 if 6 < number < 12])

[8, 10, 7, 9]
True
[8, 10, 7, 9]
[8, 10, 7, 9]

In [128]:
'''
reduce() 함수
    ㄴ reduce(함수이름, iterable type)
    ㄴ 합이 누적되는 함수
'''

# 두 개의 정수를 전달 받아서
# 두 정수의 합을 반환하는 함수
def test8(num1, num2):
    return num1 + num2

list9 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

from functools import reduce

print(reduce(test8, list9))

lambda num1, num2 : num1 + num2

print(reduce(lambda num1, num2 : num1 + num2, list9))

# 1부터 100까지의 합을 reduce() 함수를 사용해서 출력하세요
print(reduce(lambda num1, num2 : num1 + num2, list(range(1,101))))

55
55
5050

In [129]:
'''
3) lambda 식을 함수의 return 값으로 사용함
'''
'''
lambda 식을 반환한 것이 아니고
lambda 식의 반환값을 반환하는 code
def test9(number):
    return (lambda num : num * 10)(number)

print(test9(10))
'''

def test10():
    return lambda num : num * 10
print(test10())
print(test10()(40))

print((lambda num : num * 10)(20))
ten_times = lambda num : num * 10
print(ten_times(30))

number = 200
def test11():
    return number
print(test11())

<function test10.<locals>.<lambda> at 0x0000025A34D383A0>
400
200
300
200