In [4]:
# 49 page

var = '안녕 파이썬' 
print(var)
    
print(7, type(7))
print(7.34, type(7.34))
print(3+4j, type(3+4j))
print(True, type(True))

안녕 파이썬
7 <class 'int'>
7.34 <class 'float'>
(3+4j) <class 'complex'>
True <class 'bool'>

In [23]:
print('클라우드', type('클라우드'))
print(['클라우드'], type(['클라우드']))
print((('클라우드')), type(('클라우드')))
print((('클라우드',)), type(('클라우드',)))
print((123), type((123)))
print((123,), type((123,)))
print({123}, type({123}))
print({123,}, type({123,}))
print({'학번' : 123}, type({'학번' : 123}))

클라우드 <class 'str'>
['클라우드'] <class 'list'>
클라우드 <class 'str'>
('클라우드',) <class 'tuple'>
123 <class 'int'>
(123,) <class 'tuple'>
{123} <class 'set'>
{123} <class 'set'>
{'학번': 123} <class 'dict'>

In [20]:
print(10, oct(10), hex(10), bin(10))
print(10, 0o12, 0xa, 0b1010)

10 0o12 0xa 0b1010
10 10 10 10

In [21]:
print(10+8)
print(10-8)
print(10*8)
print(10/8)
print(10//8)
print(10%8)
print(10**8)

18
2
80
1.25
1
2
100000000

In [24]:
'''
result = result + 1

result += 1
'''

result = 10
print('result :', result)
result = result + 1
print('result :', result)

result :  10
result :  11

In [26]:
result2 = 10
print('result2 :', result2)

'''
result2 = result2 + 1

할당연산자 왼쪽, 오른쪽에 있는 변수가 같아야 함
'''
result2 += 1
print('result2 :', result2)
result2 += 1
print('result2 :', result2)
result2 += 1
print('result2 :', result2)
result2 += 1
print('result2 :', result2)

result2 : 10
result2 : 11
result2 : 12
result2 : 13
result2 : 14

In [32]:
a = 1
b = 2

c = a + b
print(c)

3

In [33]:
a = 1
b = 2

c += a
print(c)

4

In [35]:
# divmod() 함수 <- (몫, 나머지)로 반환(tuple로 반환)
print(divmod(10,8))

(1, 2)

In [36]:
print(10 > 8)
print(10 < 8)
print(10 == 8)
print(10 >= 8)
print(10 <= 8)
print(10 != 8)

True
False
False
True
False
True

In [37]:
# 52 page

# 논리 연산자 : and, or, not
#               &&, || , !
# 논리 연산자의 피연산자는 bool type만 가능함


'''
논리 and 연산자 - 논리곱
            ㄴ 모두 True 일 때만 True 반환
               하나라도 False 이면 False 반환
'''

print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [38]:
'''
논리 or 연산자 - 논리합
            ㄴ 모두 False 일 때만 False 반환
               하나라도 True 이면 True 반환
'''

print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [40]:
'''
short circuit
    ㄴ 논리 연산자에서 이미 결과가 확정되면
       뒤에 나오는 연산을 하지 않음
'''


num1 = 10
num2 = 8

# 논리연산이True이고, 정수 값을 출력되는 경우는 True가 노출되지 않고, 정수값만 노출됨

print(num1 > num2 and 10 + 2)
print(num1 < num2 and 10 + 2)
print('-' * 60)

print(num1 > num2 or 10 + 2)
print(num1 < num2 or 10 + 2)

12
False
------------------------------------------------------------
True
12

In [43]:
str1 = '클라우드'
str2 = ' 스쿨'

# 문자열에 *를 하면 배수로 노출됨
print(str1)
print(str2)
print(str1 + str2)
print(str2 * 5)

클라우드
 스쿨
클라우드 스쿨
 스쿨 스쿨 스쿨 스쿨 스쿨

In [44]:
# 논리 부정 연산자 
b1 = True
print(b1)
print(not b1)

True
False